body {
	width: 100%;
	height: 100%;
	color: #fff;
	background-color: #000;
	font-family: 'Roboto', sans-serif;
}
.slideout-menu {
	position: fixed;
	top: 0;
	bottom: 0;
	width: 255px;
	min-height: 100vh;
	overflow-y: scroll;
	-webkit-overflow-scrolling: touch;
	scrollbar-width: none;
	z-index: 0;
	display: none;
	border-right: 1px solid #333;
}
.slideout-menu-left {
	left: 0;
}
.slideout-menu-right {
	right: 0;
}
.slideout-panel {
	position: relative;
	z-index: 1;
	will-change: transform;
	background-color: #000; /* A background-color is required */
	min-height: 100vh;
}
.slideout-open,
.slideout-open body,
.slideout-open .slideout-panel {
	overflow: hidden;
}
.slideout-open .slideout-menu {
	display: block;
}
@media screen and (min-width: 780px) {
	.slideout-panel {
		margin-left: 256px;
	}
	.slideout-menu {
		display: block;
	}
	.toggle-button {
		display: none;
	}
}
iframe {
	display: block;
	border: none;
	width: 100%;
	height: 100vh;
}
#panel div {
	padding: 16px;
}
button {
	background-color: #fff;
	color: #000;
	border: none;
	padding: 10px 20px;
	margin: 8px;
	border-radius: 5px 15px 5px 15px;
	transition: all 0.3s ease;
	box-shadow: 5px 5px teal;
}
button:hover {
	box-shadow: none;
}
button:active {
	background-color: #ddd;
}
input {
	background-color: #000;
	color: #fff;
	border: 2px solid #fff;
	padding: 8px;
	margin: 8px;
	border-radius: 5px 15px 5px 15px;
	transition: all 0.3s ease;
	box-shadow: 5px 5px teal;
}
input:hover {
	box-shadow: none
}
input:focus {
	border-color: #ddd;
}
input::placeholder {
	color: #777;
	opacity: 1;
}
