body {
	width: 100%;
	height: 100%;
	color: #fff;
	background-color: #000;
	font-family: 'Roboto', sans-serif;
}
.slideout-menu {
	position: fixed;
	top: 0;
	bottom: 0;
	width: 255px;
	min-height: 100vh;
	overflow-y: scroll;
	-webkit-overflow-scrolling: touch;
	scrollbar-width: none;
	z-index: 0;
	display: none;
	border-right: 1px solid #333;
}
.slideout-menu-left {
	left: 0;
}
.slideout-menu-right {
	right: 0;
}
.slideout-panel {
	position: relative;
	z-index: 1;
	will-change: transform;
	background-color: #000; /* A background-color is required */
	min-height: 100vh;
}
.slideout-open,
.slideout-open body,
.slideout-open .slideout-panel {
	overflow: hidden;
}
.slideout-open .slideout-menu {
	display: block;
}
@media screen and (min-width: 780px) {
	.slideout-panel {
		margin-left: 256px;
	}
	.slideout-menu {
		display: block;
	}
	.toggle-button {
		display: none;
	}
}
iframe {
	display: block;
	border: none;
	width: 100%;
	height: 100vh;
}
#panel > div {
	padding: 16px;
}
.button {
	background-color: #fff;
	color: #000;
	border: none;
	padding: 10px 20px;
	margin: 8px;
	border-radius: var(--radius-sm);
	transition: all 0.3s ease;
	box-shadow: var(--shadow);
	cursor: pointer;
}
.button:hover {
	box-shadow: none;
}
.button:focus {
	outline: none;
}
body:not(.using-mouse) .button:focus {
	box-shadow: none;
}
.button-nofill {
	background-color: #000;
	color: #fff;
	border: none;
	padding: 8px 18px;
	border: 2px solid #fff;
	margin: 8px;
	border-radius: var(--radius-sm);
	transition: all 0.3s ease;
	box-shadow: var(--shadow);
	cursor: pointer;
}
.button-nofill:hover {
	box-shadow: none;
}
.button-nofill:focus {
	outline: none;
}
body:not(.using-mouse) .button-nofill:focus {
	box-shadow: none;
}
.input {
	background-color: #000;
	color: #fff;
	border: 2px solid #fff;
	padding: 8px;
	margin: 8px;
	border-radius: var(--radius-sm);
	transition: all 0.3s ease;
	box-shadow: var(--shadow);
}
.input:hover {
	box-shadow: none
}
.input:focus {
	box-shadow: none;
	outline: none;
}
.input::placeholder {
	/*color: #777;*/
	color: #999;
	opacity: 1;
}
.angled_wrapper {
	margin: 5%;
	width: 40%;
}
.angled-r,
.angled-l {
	transform: perspective(1000px) rotateY(25deg);
	perspective: 10px;
	transform-style: preserve-3d;
	box-shadow: var(--shadow);
	transition: all 0.5s;
	border-radius: var(--radius-lg);
	overflow: hidden;
}
.angled-r {
	transform: perspective(1000px) rotateY(-25deg);
	perspective: -10px;
}
.angled-r:focus-within,
.angled-r:hover,
.angled-l:focus-within,
.angled-l:hover {
	transform: perspective(0px) rotateY(0deg);
	box-shadow: none;
}
:root {
	--shadow: 5px 5px teal;
	--radius-sm: 5px 15px 5px 15px;
	--radius-lg: 12px 40px 12px 40px;
	--plyr-color-main: teal;
}
.aspect {
	position: relative;
	background: #fff;
}
.aspect:before {
	display: block;
	content: "";
	width: 100%;
	padding-top: 56.25%;
}
.aspect .img_wrapper {
	position: absolute;
	top: 0; right: 0; bottom: 0; left: 0;
	cursor: zoom-in;
}
.img_wrapper img {
	object-fit: contain;
	height: 100%;
	width: 100%;
}
.green {
	color: #0cce6b;
}
.red {
	color: #ff4e42;
}
.yellow {
	color: #ffa400;
}
.card {
	width: 15%;
	margin: 18px;
	border: 2px solid #fff;
	border-radius: var(--radius-lg);
	transition: all 0.3s ease;
	box-shadow: var(--shadow);
	overflow: hidden;
	position: relative;
	text-decoration: none;
	color: #fff;
	display: block;
}
.card:hover {
	box-shadow: none;
}
.card:focus {
	outline: none;
}
body:not(.using-mouse) .card:focus {
	box-shadow: none;
}
.card_label {
	margin: 8px;
	padding-top: 2px;
}
.aspect-1 {
	width: 100%;
	padding-bottom: 100%;
	position: relative;
}
.aspect-1 img {
	position: absolute;
	top: 0; right: 0; bottom: 0; left: 0;
	width: 100%;
	border-bottom: 2px solid #fff;
}
.prices {
	margin-top: 4px;
}
.old_price {
	text-decoration: line-through;
	font-size: 12px;
}
.dostupnost {
	margin-top: 4px;
	margin-left: 16px;
}
.bounce:not(:hover):not(:focus-within) {
  animation: bounce 10s ease infinite;
}
@keyframes bounce {
	80%, 84%, 90%, 96%, 100% {transform: translateY(0);}
	88% {transform: translateY(-8px);}
	92% {transform: translateY(-4px);}
}
.delay {
	animation-delay: 5s !important;
}
