<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>amadeus-dashboard</title>
    <link rel="icon" type="image/png" href="https://amadeus2.hr/img/icon.png">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap" rel="stylesheet">
    <style>
        * {
            font-family: 'Noto Sans', sans-serif;
        }
    </style>
</head>
<body>
    <h1>amadeus-dashboard</h1>
    <a href="/">Preuzmi tablicu</a>
    <a href="/table/update">Preuzmi promjene iz tablice</a>
    <hr>

    {% if page == 'index' %}
        <h2>Preuzmi tablicu</h2>

        <form method="POST" action="/table/get">
            <h3>Prikaži ove stupce</h3>
            <ul>
                <li><label><input type="checkbox" name="columns[]" value="p.naziv" checked>Naziv (read-only)</label></li>
                <li><label><input type="checkbox" name="columns[]" value="g.naziv" checked>Grupa (read-only)</label></li>
                <li><label><input type="checkbox" name="columns[]" value="kolicina" checked>Količina (read-only)</label></li>
                <li><label><input type="checkbox" name="columns[]" value="nabavna_cijena" checked>Nabavna cijena (read-only)</label></li>
                <li><label><input type="checkbox" name="columns[]" value="marza" checked>Marža (read-only)</label></li>
                <li><label><input type="checkbox" name="columns[]" value="cijena" checked>Cijena (read-only)</label></li>
                <li><label><input type="checkbox" name="columns[]" value="rabat" checked>Rabat (read-only)</label></li>
            </ul>

            <h3>Prikaži samo ove grupe</h3>
            <ul>
            {% for grupa in grupe %}
                <li><label><input type="checkbox" name="grupe[]" value="{{ grupa[0] }}">{{ grupa[1] }}</label></li>
            {% endfor %}
            </ul>

            <h3>Prikaži samo ako sadržava</h3>
            <input type="text" name="pretraga" placeholder="pretraži rezultate">

            <h3>Ostali filteri</h3>
            <ul>
                <li><label><input type="checkbox" name="only_amadeus2hr">Prikaži samo prikazane na amadeus2.hr</label></li>
                <li><label><input type="checkbox" name="only_pioneerhr">Prikaži samo prikazane na pioneer.hr</label></li>
                <li><label><input type="checkbox" name="only_njuskalohr">Prikaži samo prikazane na njuskalo.hr</label></li>
                <li>limit: <input type="text" name="limit" placeholder="LIMIT"></li>
                <li>offset: <input type="text" name="offset" placeholder="OFFSET"></li>
            </ul>

            <button type="submit">Preuzmi i otvori tablicu</button>
        </form>
    {% endif %}

    {% if page == 'success' %}
    success
    {% endif %}
</body>
</html>
