<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>amadeus-dashboard</title>
    <link rel="icon" type="image/png" href="https://amadeus2.hr/img/icon.png">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/dropzone/5.7.2/min/dropzone.min.css" integrity="sha512-bbUR1MeyQAnEuvdmss7V2LclMzO+R9BzRntEE57WIKInFVQjvX7l7QZSxjNDt8bg41Ww05oHSh0ycKFijqD7dA==" crossorigin="anonymous" />
    <style>
        h1, h3 { margin-top: 0.75rem; }
        .ghost-class { opacity: 0.8; }
    </style>
</head>
<body>
    <nav class="navbar sticky-top navbar-expand-md navbar-dark bg-dark">
        <div class="container-fluid">
            <a class="navbar-brand" href="/">amadeus-dashboard</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                <div class="navbar-nav">
                    <a class="nav-link {% if page == 'index' %}active{% endif %}" href="/">Preuzmi tablicu</a>
                    <a class="nav-link {% if page == 'tableupdate' %}active{% endif %}" href="/table/update">Preuzmi promjene iz tablice</a>
                    <a class="nav-link {% if page == 'productlist' %}active{% endif %}" href="/product/list">Izmjena proizvoda</a>
                    <a class="nav-link {% if page == 'amadeus2hr' %}active{% endif %}" href="/amadeus2hr">Postavke stranice</a>
                </div>
            </div>
        </div>
    </nav>

    <div class="container-fluid mb-3">
    {% if page == 'index' %}
        <h1>Preuzmi tablicu</h1>

        <form method="POST" action="/table/get">
            <h3>Prikaži ove stupce</h3>
            <ul>
                <li><div class="form-check form-switch"><label class="form-check-label"><input type="checkbox" name="columns[]" value="p.naziv" checked class="form-check-input">Naziv (read-only)</label></div></li>
                <li><div class="form-check form-switch"><label class="form-check-label"><input type="checkbox" name="columns[]" value="g.naziv" checked class="form-check-input">Grupa (read-only)</label></div></li>
                <li><div class="form-check form-switch"><label class="form-check-label"><input type="checkbox" name="columns[]" value="kolicina" checked class="form-check-input">Količina (read-only)</label></div></li>
                <li><div class="form-check form-switch"><label class="form-check-label"><input type="checkbox" name="columns[]" value="nabavna_cijena" checked class="form-check-input">Nabavna cijena (read-only)</label></div></li>
                <li><div class="form-check form-switch"><label class="form-check-label"><input type="checkbox" name="columns[]" value="marza" checked class="form-check-input">Marža (read-only)</label></div></li>
                <li><div class="form-check form-switch"><label class="form-check-label"><input type="checkbox" name="columns[]" value="cijena" checked class="form-check-input">Cijena (read-only)</label></div></li>
                <li><div class="form-check form-switch"><label class="form-check-label"><input type="checkbox" name="columns[]" value="rabat" checked class="form-check-input">Rabat (read-only)</label></div></li>
                <li><div class="form-check form-switch"><label class="form-check-label"><input type="checkbox" name="columns[]" value="web_cijena" checked class="form-check-input">Web cijena</label></div></li>
                <li><div class="form-check form-switch"><label class="form-check-label"><input type="checkbox" name="columns[]" value="web_cijena_s_popustom" checked class="form-check-input">Web cijena s popustom</label></div></li>
                <li><div class="form-check form-switch"><label class="form-check-label"><input type="checkbox" name="columns[]" value="amadeus2hr" checked class="form-check-input">Prikaži na amadeus2.hr</label></div></li>
                <li><div class="form-check form-switch"><label class="form-check-label"><input type="checkbox" name="columns[]" value="pioneerhr" checked class="form-check-input">Prikaži na pioneer.hr</label></div></li>
                <li><div class="form-check form-switch"><label class="form-check-label"><input type="checkbox" name="columns[]" value="njuskalohr" checked class="form-check-input">Prikaži na njuskalo.hr</label></div></li>
            </ul>

            <h3>Prikaži samo ove grupe</h3>
            <ul>
            {% for grupa in grupe %}
                <li><div class="form-check form-switch"><label class="form-check-label"><input type="checkbox" name="grupe[]" value="{{ grupa[0] }}" class="form-check-input">{{ grupa[1] }}</label></div></li>
            {% endfor %}
            </ul>

            <h3>Prikaži samo ako sadržava</h3>
            <label class="form-label"><input type="text" name="pretraga" placeholder="pretraži rezultate" class="form-control"></label>

            <h3>Ostali filteri</h3>
            <ul>
                <li><div class="form-check form-switch"><label class="form-check-label"><input type="checkbox" name="only_amadeus2hr" class="form-check-input">Prikaži samo prikazane na amadeus2.hr</label></div></li>
                <li><div class="form-check form-switch"><label class="form-check-label"><input type="checkbox" name="only_pioneerhr" class="form-check-input">Prikaži samo prikazane na pioneer.hr</label></div></li>
                <li><div class="form-check form-switch"><label class="form-check-label"><input type="checkbox" name="only_njuskalohr" class="form-check-input">Prikaži samo prikazane na njuskalo.hr</label></div></li>
                <li><label class="form-label"><input type="text" name="limit" placeholder="LIMIT" class="form-control"></label></li>
                <li><label class="form-label"><input type="text" name="offset" placeholder="OFFSET" class="form-control"></label></li>
            </ul>

            <h3>Sortiranje</h3>
            <ul>
                <li><div class="form-check form-switch"><label class="form-check-label"><input type="radio" name="sort" value="p.sifra ASC" class="form-check-input">Sortiraj po šifri 0 prema 10</label></div></li>
                <li><div class="form-check form-switch"><label class="form-check-label"><input type="radio" name="sort" value="p.sifra DESC" class="form-check-input">Sortiraj po šifri 10 prema 0</label></div></li>
                <li><div class="form-check form-switch"><label class="form-check-label"><input type="radio" name="sort" value="p.naziv ASC" checked class="form-check-input">Sortiraj po nazivu A prema Z</label></div></li>
                <li><div class="form-check form-switch"><label class="form-check-label"><input type="radio" name="sort" value="p.naziv DESC" class="form-check-input">Sortiraj po nazivu Z prema A</label></div></li>
            </ul>

            <button type="submit" class="btn btn-primary">Preuzmi i otvori tablicu</button>
        </form>
    {% endif %}

    {% if page == 'tableupdate' %}
        <h1>Preuzmi promjene iz tablice</h1>

        <h3>Zadnje izmjenjene tablice</h3>
        <ul>
        {% for file in files %}
            <li>
                <form method="POST" action="/table/update">
                    <input type="hidden" name="tablepath" value="{{ file }}">
                    <a href="#" onclick="this.parentElement.submit()">{{ file }}</a>
                </form>
            </li>
        {% endfor %}
        </ul>

        <h3>Učitaj tablicu</h3>
        <form method="POST" action="/table/uploadfile" enctype="multipart/form-data">
            <div><label class="form-label"><input type="file" name="tablefile" class="form-control"></label></div>
            <button type="submit" class="btn btn-primary">Učitaj tablicu</button>
        </form>
    {% endif %}

    {% if page == 'productlist' %}
        <h3>Otvori proizvod sa šifrom</h3>
        <form method="GET" action="/product/detail">
            <div><label class="form-label"><input type="text" name="product" placeholder="šifra" class="form-control"></label></div>
            <button type=" submit" class="btn btn-primary">Otvori proizvod</button>
        </form>

        <h3>Lista proizvoda</h3>
        {% if proizvodi|length %}
        <table class="table">
            <tr>
                <th>Šifra</th>
                <th>Naziv</th>
            </tr>
        {% for proizvod in proizvodi %}
            <tr>
                <td><a href="/product/detail?product={{ proizvod[0] }}">{{ proizvod[0] }}</a></td>
                <td><a href="/product/detail?product={{ proizvod[0] }}">{{ proizvod[1] }}</a></td>
            </tr>
        {% endfor %}
        </table>
        {% else %}
        <a href="/product/list?showlist=true" class="btn btn-primary">Učitaj proizvode</a>
        {% endif %}
    {% endif %}

    {% if page == 'productdetail' %}
        <a href="/product/list" class="btn btn-secondary mt-3">&larr; Svi proizvodi</a>
        <h1>{{ product[1] }}</h1>
        <p>šifra: {{ product[0] }}</p>
        <form method="POST" action="/product/detail?product={{ product[0] }}" enctype="multipart/form-data">
            <div class="form-check form-switch"><label class="form-check-label"><input type="checkbox" name="istaknut" class="form-check-input" {% if product[3] %}checked{% endif %}>Istaknut na početnoj stranici</label></div>
            <input type="hidden" name="grupa" value="{{ product[4] }}">

            <h3>Opis</h3>
            <textarea name="opis" id="editor">{% if product[2] %}{{ product[2] }}{% endif %}</textarea>
            <script src="https://cdn.ckeditor.com/ckeditor5/24.0.0/classic/ckeditor.js"></script>
            <script>
                ClassicEditor
                    .create(document.querySelector('#editor'))
                    .catch(error => { console.error(error) });
            </script>

            <h3>Slike</h3>
            <div class="image-upload-error"></div>
            <div class="dropzone" id="image-upload"></div>
            <div class="form-group mt-3 images">
            {% for slika in slike %}
                <div class="d-flex mt-2">
                    <img src="{{ slika[0] }}" width="200">
                    <input type="hidden" name="images[]" value="{{ slika[0] }}">
                    <div class="d-flex align-items-center ml-5 mr-2">
                        <div class="btn btn-secondary mx-2 handle">&varr; Pomakni</div>
                        <button type="button" onclick="this.parentElement.parentElement.remove()"
                            class="btn btn-danger">&times; Obriši</button>
                    </div>
                </div>
            {% endfor %}
            </div>

            <h3>Značajke</h3>
            <script>
                function addFeature(key, value) {
                    $("#ftable").append(`<tr>
                        <td><label class="form-label mb-0"><input type="text" name="feature[]" value="${key}" placeholder="Naziv" class="form-control"></label></td>
                        <td><label class="form-label mb-0"><input type="text" name="feature_value[]" value="${value}" placeholder="Vrijednost" class="form-control"></label></td>
                        <td><button type="button" onclick="this.parentElement.parentElement.remove()" class="btn btn-danger">&times; Obriši</button></td>
                    </tr>`)
                }
            </script>
            <p>
                {% if ostale_znacajke|length %}
                Ostali proizvodi u grupi imaju još:
                {% for znacajka in ostale_znacajke %}
                    <span><a href="#" onclick='event.preventDefault()
                    addFeature("{{ znacajka }}", "")
                    this.parentElement.remove()'>{{ znacajka }}</a>{{ ", " if not loop.last }}</span>
                {% endfor %}
                {% endif %}
            </p>
            <button type="button" onclick="addFeature('', '')" class="btn btn-primary">&plus; Nova značajka</button>
            <table class="table" id="ftable">
                <tr>
                    <th>Naziv</th>
                    <th>Vrijednost</th>
                    <th>Obriši</th>
                </tr>
                {% for znacajka in znacajke %}
                <tr>
                    <td><label class="form-label mb-0"><input type="text" name="feature[]" value="{{ znacajka[0] }}" placeholder="Naziv" class="form-control"></label></td>
                    <td><label class="form-label mb-0"><input type="text" name="feature_value[]" value="{{ znacajka[1] }}" placeholder="Vrijednost" class="form-control"></label></td>
                    <td><button type="button" onclick="this.parentElement.parentElement.remove()" class="btn btn-danger">&times; Obriši</button></td>
                </tr>
                {% endfor %}
            </table>

            <button type="submit" class="btn btn-primary">Spremi promjene</button>
        </form>

        <script src="https://code.jquery.com/jquery-3.5.1.min.js" integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0=" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/dropzone/5.7.2/min/dropzone.min.js" integrity="sha512-9WciDs0XP20sojTJ9E7mChDXy6pcO0qHpwbEJID1YVavz2H6QBz5eLoDD8lseZOb2yGT8xDNIV7HIe1ZbuiDWg==" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/Sortable/1.10.2/Sortable.min.js" integrity="sha512-ELgdXEUQM5x+vB2mycmnSCsiDZWQYXKwlzh9+p+Hff4f5LA+uf0w2pOp3j7UAuSAajxfEzmYZNOOLQuiotrt9Q==" crossorigin="anonymous"></script>

        <script>
            const el = document.querySelector(".images")
            const sortable = Sortable.create(el, { handle: '.handle', ghostClass: 'ghost-class' })
        </script>

        <script>
            const dropzone = new Dropzone("#image-upload", {
                url: "/product/uploadimg",
                acceptedFiles: 'image/*',
            });
            dropzone.on("complete", function(file) {
                dropzone.removeFile(file);
                const url = file.xhr.response
                if (url) {
                $(".images").append(`
                <div class="d-flex mt-2">
                    <img src="${url}" width="200">
                    <input type="hidden" name="images[]" value="${url}">
                    <div class="d-flex align-items-center ml-5 mr-2">
                        <div class="btn btn-secondary mx-2 handle">&varr; Pomakni</div>
                        <button type="button" onclick="this.parentElement.parentElement.remove()"
                            class="btn btn-danger">&times; Obriši</button>
                    </div>
                </div>`)
                } else {
                    $('.image-upload-error').append(`
                        <div class="alert alert-danger alert-dismissible fade show" role="alert">
                            Dogodila se pogreška pri ubacivanju slike. Molimo pokušajte ponovo.
                            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                        </div>`)
                }
            })
        </script>
    {% endif %}

    {% if page == 'amadeus2hr' %}
    <h1>amadeus2.hr postavke</h1>
    <form method="POST" action="/amadeus2hr" enctype="multipart/form-data">
        <h3>Slike</h3>
        <div class="image-upload-error"></div>
        <div class="dropzone" id="image-upload"></div>
        <div class="form-group my-3 images">
        {% for slika in covers %}
            <div class="d-flex mt-2">
                <img src="{{ slika[0] }}" width="200">
                <input type="hidden" name="images[]" value="{{ slika[0] }}">
                <div class="d-flex align-items-center ml-5 mr-2">
                    <div class="btn btn-secondary mx-2 handle">&varr; Pomakni</div>
                    <button type="button" onclick="this.parentElement.parentElement.remove()"
                        class="btn btn-danger">&times; Obriši</button>
                    <label class="form-label mb-0 mx-2"><input type="text" name="promourl[]" value="{{ slika[1] }}" placeholder="promo link" class="form-control"></label>
                </div>
            </div>
        {% endfor %}
        </div>
        <button type="submit" class="btn btn-primary">Spremi promjene</button>
    </form>

    <script src="https://code.jquery.com/jquery-3.5.1.min.js" integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/dropzone/5.7.2/min/dropzone.min.js" integrity="sha512-9WciDs0XP20sojTJ9E7mChDXy6pcO0qHpwbEJID1YVavz2H6QBz5eLoDD8lseZOb2yGT8xDNIV7HIe1ZbuiDWg==" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Sortable/1.10.2/Sortable.min.js" integrity="sha512-ELgdXEUQM5x+vB2mycmnSCsiDZWQYXKwlzh9+p+Hff4f5LA+uf0w2pOp3j7UAuSAajxfEzmYZNOOLQuiotrt9Q==" crossorigin="anonymous"></script>

    <script>
        const el = document.querySelector(".images")
        const sortable = Sortable.create(el, { handle: '.handle', ghostClass: 'ghost-class' })
    </script>

    <script>
        const dropzone = new Dropzone("#image-upload", {
            url: "/product/uploadimg",
            acceptedFiles: 'image/*',
        });
        dropzone.on("complete", function(file) {
            dropzone.removeFile(file);
            const url = file.xhr.response
            if (url) {
            $(".images").append(`
            <div class="d-flex mt-2">
                <img src="${url}" width="200">
                <input type="hidden" name="images[]" value="${url}">
                <div class="d-flex align-items-center ml-5 mr-2">
                    <div class="btn btn-secondary mx-2 handle">&varr; Pomakni</div>
                    <button type="button" onclick="this.parentElement.parentElement.remove()"
                        class="btn btn-danger">&times; Obriši</button>
                    <label class="form-label mb-0 mx-2"><input type="text" name="promourl[]" placeholder="promo url" class="form-control"></label>
                </div>
            </div>`)
            } else {
                $('.image-upload-error').append(`
                    <div class="alert alert-danger alert-dismissible fade show" role="alert">
                        Dogodila se pogreška pri ubacivanju slike. Molimo pokušajte ponovo.
                        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                    </div>`)
            }
        })
    </script>
    {% endif %}

    {% if page == 'success' %}
    <div class="mt-2">success</div>
    {% endif %}
    {% if page == 'err' %}
    <div class="mt-2">error: {{ msg }}</div>
    {% endif %}
    {% if page == '404' %}
    <div class="mt-2">404</div>
    {% endif %}
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW" crossorigin="anonymous"></script>
</body>
</html>
