{% extends 'partials/base.html' %}
{% block title %}amadeus{% endblock %}
{% block content %}

<h2>
    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="bi bi-cart3" viewBox="0 0 16 16">
        <path d="M0 1.5A.5.5 0 0 1 .5 1H2a.5.5 0 0 1 .485.379L2.89 3H14.5a.5.5 0 0 1 .49.598l-1 5a.5.5 0 0 1-.465.401l-9.397.472L4.415 11H13a.5.5 0 0 1 0 1H4a.5.5 0 0 1-.491-.408L2.01 3.607 1.61 2H.5a.5.5 0 0 1-.5-.5zM3.102 4l.84 4.479 9.144-.459L13.89 4H3.102zM5 12a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm7 0a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm-7 1a1 1 0 1 1 0 2 1 1 0 0 1 0-2zm7 0a1 1 0 1 1 0 2 1 1 0 0 1 0-2z"/>
      </svg>
    Košarica</h2>
{% if cart|length %}
<div class="mb-3 mb-lg-4 px-0">
    <div class="row" style="margin: -0.25rem;">
        {% for proizvod in cart_products %}
        <div class="col-6 col-sm-4 col-md-3 col-xl-2 p-1">
            {% with is_cart = true, idx = loop.index-1 %}
            {% include "partials/product_card.html" %}
            {% endwith %}
        </div>
        {% endfor %}
    </div>
</div>
{% else %}
<div class="mb-3 mb-lg-4">
    Vaša košarica je prazna
</div>
{% endif %}


{% endblock %}
