{% extends 'partials/base.html' %}
{% block title %}{{ grupa[0] }} | Amadeus web trgovina{% endblock %}
{% block opis %}Proizvodi u kategoriji {{ grupa[0] }}{% endblock %}
{% block slika %}{{ proizvodi[0][4] }}{% endblock %}
{% block head %}
<script type="application/ld+json">
    {
      "@context": "https://schema.org",
      "@type": "BreadcrumbList",
      "itemListElement": [{
        "@type": "ListItem",
        "position": 1,
        "name": "amadeus2.hr",
        "item": "https://amadeus2.hr"
      },{
        "@type": "ListItem",
        "position": 2,
        "name": "{{ grupa[0] }}"
      }]
    }
</script>
{% endblock %}
{% block content %}

<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="/">amadeus2.hr</a></li>
        <li class="breadcrumb-item active" aria-current="page">{{ grupa[0] }}</li>
    </ol>
</nav>

<h1 class="mb-3 mb-lg-4">Proizvodi u kategoriji {{ grupa[0] }}</h1>

<div class="row">
    <div class="col-12 col-lg-3">
        <div class="d-grid d-lg-none">
            <button type="button" class="btn btn-secondary mb-3" data-bs-toggle="collapse" data-bs-target="#collapsedfilters"
                aria-controls="collapsedfilters" aria-expanded="false" aria-label="Prikaži filtere">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-funnel" viewBox="0 0 16 16">
                    <path d="M1.5 1.5A.5.5 0 0 1 2 1h12a.5.5 0 0 1 .5.5v2a.5.5 0 0 1-.128.334L10 8.692V13.5a.5.5 0 0 1-.342.474l-3 1A.5.5 0 0 1 6 14.5V8.692L1.628 3.834A.5.5 0 0 1 1.5 3.5v-2zm1 .5v1.308l4.372 4.858A.5.5 0 0 1 7 8.5v5.306l2-.666V8.5a.5.5 0 0 1 .128-.334L13.5 3.308V2h-11z"/>
                </svg>
                Filteri
            </button>
        </div>
        <div class="collapse" id="collapsedfilters">
            <div class="card p-2 mb-3">
                {% include "partials/filters.html" %}
            </div>
        </div>
        <div class="card p-2 mb-3 mb-lg-4 d-none d-lg-block">
            {% include "partials/filters.html" %}
        </div>
    </div>
    <div class="col-12 col-lg-9">
        <div class="mb-3 mb-lg-4 px-0">
            <div class="row" style="margin: -0.25rem;">
                {% for proizvod in proizvodi %}
                <div class="col-6 col-sm-4 col-md-3 p-1">
                    {% include "partials/product_card.html" %}
                </div>
                {% else %}
                <h2 class="mt-2">
                    <svg xmlns="http://www.w3.org/2000/svg" width="2rem" height="2rem" fill="currentColor" class="bi bi-exclamation-triangle" viewBox="0 0 16 16">
                        <path d="M7.938 2.016A.13.13 0 0 1 8.002 2a.13.13 0 0 1 .063.016.146.146 0 0 1 .054.057l6.857 11.667c.036.06.035.124.002.183a.163.163 0 0 1-.054.06.116.116 0 0 1-.066.017H1.146a.115.115 0 0 1-.066-.017.163.163 0 0 1-.054-.06.176.176 0 0 1 .002-.183L7.884 2.073a.147.147 0 0 1 .054-.057zm1.044-.45a1.13 1.13 0 0 0-1.96 0L.165 13.233c-.457.778.091 1.767.98 1.767h13.713c.889 0 1.438-.99.98-1.767L8.982 1.566z"/>
                        <path d="M7.002 12a1 1 0 1 1 2 0 1 1 0 0 1-2 0zM7.1 5.995a.905.905 0 1 1 1.8 0l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 5.995z"/>
                    </svg>
                    Nema proizvoda koji zadovoljavaju uvjete
                </h2>
                {% endfor %}
            </div>
        </div>
        {% include "partials/pagination_nav.html" %}
    </div>
</div>

{% endblock %}
