{% extends 'partials/base.html' %}
{% block title %}Unos podataka | Amadeus web trgovina{% endblock %}
{% block content %}

<h1>
    <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="currentColor" class="bi bi-file-earmark-text" viewBox="0 0 16 16">
        <path d="M5.5 7a.5.5 0 0 0 0 1h5a.5.5 0 0 0 0-1h-5zM5 9.5a.5.5 0 0 1 .5-.5h5a.5.5 0 0 1 0 1h-5a.5.5 0 0 1-.5-.5zm0 2a.5.5 0 0 1 .5-.5h2a.5.5 0 0 1 0 1h-2a.5.5 0 0 1-.5-.5z"/>
        <path d="M9.5 0H4a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h8a2 2 0 0 0 2-2V4.5L9.5 0zm0 1v2A1.5 1.5 0 0 0 11 4.5h2V14a1 1 0 0 1-1 1H4a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1h5.5z"/>
    </svg>
    Unos podataka
</h1>

{% if cart|length %}
<form class="checkout-form card p-2 mb-3 mb-lg-4" method="POST" novalidate>
    <h2>Podaci za plaćanje</h2>
    {% with prefix = 'p', required = true %}
    {% include 'partials/checkout_form.html' %}
    {% endwith %}

    <div class="form-check">
        <label class="form-check-label">
            <input class="form-check-input" type="checkbox" name="d-notuse" onclick='
                if (this.checked) document.querySelector(".d").style.display="none";
                else document.querySelector(".d").style.display="block";'  {{ "checked" if checkout.get('d-notuse', '') }}>
            Koristi iste podatke za dostavu
        </label>
    </div>
    <div class="d mt-1" {% if checkout.get('d-notuse', '') %}style="display: none;"{% else %}style="display: block;"{% endif %}>
        <h2>Podaci za dostavu</h2>
        {% with prefix = 'd' %}
        {% include 'partials/checkout_form.html' %}
        {% endwith %}
    </div>

    <div class="form-check">
        <label class="form-check-label">
            <input class="form-check-input" type="checkbox" name="r-use" {{ "checked" if checkout.get('r-use', '') }} onclick='
                if (this.checked) document.querySelector(".r").style.display="block";
                else document.querySelector(".r").style.display="none";'>
            Želim R1 račun
        </label>
    </div>
    <div class="r mt-1"  {% if checkout.get('r-use', '') %}style="display: block;"{% else %}style="display: none;"{% endif %}>
        <h2>Podaci za R1 račun</h2>
        <label class="form-label w-100">
            Naziv tvrtke
            <input type="text" class="form-control" name="tvrtka" value="{{ checkout.get('tvrtka', '') }}" placeholder="Naziv tvrtke">
        </label>
        <label class="form-label w-100">
            OIB tvrtke
            <input type="text" class="form-control" name="oib" value="{{ checkout.get('oib', '') }}" placeholder="OIB tvrtke">
        </label>
    </div>

    <h2 class="mt-2">Dodatne napomene</h2>
    <textarea class="form-control mb-3" name="napomene" rows="3" placeholder="Napomene vezane uz proizvode koje naručujete ili dostavu">{{ checkout.get('napomene', '') }}</textarea>

    <div class="form-check">
        <label class="form-check-label">
            <input class="form-check-input" type="checkbox" name="savedata" {{ "checked" if checkout.get('savedata', '') }}>
            Zapamti podatke za sljedeću narudžbu
        </label>
    </div>

    <div class="form-check mb-2">
        <label class="form-check-label">
            <input class="form-check-input" type="checkbox" name="terms" {{ "checked" if checkout.get('terms', '') }} required>
            Prihvaćam <a href="#">uvjete poslovanja</a>
            <div class="invalid-feedback">
                Molimo prihvatite uvjete poslovanja
            </div>
        </label>
    </div>

    {% if cijene.nacinplacanja == 'karticom' %}
    <input type="hidden" name="ajax" value="on">
    <button type="submit" class="btn btn-primary" onclick='
    event.preventDefault()
    if (!this.form.checkValidity()) return
    const data = new URLSearchParams(Array.from(new FormData(this.form))).toString()
    fetch("/checkout", {method: "POST", body: data, headers: {"Content-Type": "application/x-www-form-urlencoded"}}).then(res => res.json()).then(json => {
        const wspayform = document.querySelector("[name=pay]")
        wspayform.querySelector("[name=ShoppingCartID]").value = json.order_id
        wspayform.querySelector("[name=TotalAmount]").value = json.totalamount
        wspayform.querySelector("[name=Signature]").value = json.signature
        wspayform.querySelector("[name=CustomerFirstName]").value = json.firstname
        wspayform.querySelector("[name=CustomerLastName]").value = json.lastname
        wspayform.querySelector("[name=CustomerEmail]").value = json.email
        wspayform.querySelector("[name=CustomerAddress]").value = json.address
        wspayform.querySelector("[name=CustomerCity]").value = json.city
        wspayform.querySelector("[name=CustomerZIP]").value = json.zip
        wspayform.querySelector("[name=CustomerCountry]").value = json.country
        wspayform.querySelector("[name=CustomerPhone]").value = json.phone
        wspayform.querySelector("[name=PaymentPlan]").value = json.paymentplan
        wspayform.querySelector("[name=CreditCardName]").value = json.card
        wspayform.submit()
    })
    '>
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-credit-card" viewBox="0 0 16 16">
            <path d="M0 4a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v8a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V4zm2-1a1 1 0 0 0-1 1v1h14V4a1 1 0 0 0-1-1H2zm13 4H1v5a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1V7z"/>
            <path d="M2 10a1 1 0 0 1 1-1h1a1 1 0 0 1 1 1v1a1 1 0 0 1-1 1H3a1 1 0 0 1-1-1v-1z"/>
        </svg>
        Plati karticom
    </button>
    {% else %}
    <button type="submit" class="btn btn-primary">
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-bag" viewBox="0 0 16 16">
            <path d="M8 1a2.5 2.5 0 0 1 2.5 2.5V4h-5v-.5A2.5 2.5 0 0 1 8 1zm3.5 3v-.5a3.5 3.5 0 1 0-7 0V4H1v10a2 2 0 0 0 2 2h10a2 2 0 0 0 2-2V4h-3.5zM2 5h12v9a1 1 0 0 1-1 1H3a1 1 0 0 1-1-1V5z"/>
        </svg>
        Naruči
    </button>
    {% endif %}
</form>

{% if cijene.nacinplacanja == 'karticom' %}
<form name="pay" action="https://formtest.wspay.biz/Authorization.aspx" method="POST">
    <input type="hidden" name="ShopID" value="PIONEERHR">
    <input type="hidden" name="ShoppingCartID" value="">
    <input type="hidden" name="Version" value="2.0">
    <input type="hidden" name="TotalAmount" value="">
    <input type="hidden" name="Signature" value="">
    <input type="hidden" name="ReturnURL" value="https://amadeus2.hr/success">
    <input type="hidden" name="CancelURL" value="https://amadeus2.hr/cancel">
    <input type="hidden" name="ReturnErrorURL" value="https://amadeus2.hr/failure">
    <input type="hidden" name="CustomerFirstName" value="">
    <input type="hidden" name="CustomerLastName" value="">
    <input type="hidden" name="CustomerEmail" value="">
    <input type="hidden" name="CustomerAddress" value="">
    <input type="hidden" name="CustomerCity" value="">
    <input type="hidden" name="CustomerZIP" value="">
    <input type="hidden" name="CustomerCountry" value="">
    <input type="hidden" name="CustomerPhone" value="">
    <input type="hidden" name="PaymentPlan" value="">
    <input type="hidden" name="CreditCardName" value="">
    <input type="hidden" name="ReturnMethod" value="POST">
</form>
{% endif %}

<script>
    (function () {
        var forms = document.querySelectorAll('.checkout-form')
        forms.forEach(function (form) {
            var submitbtn = form.querySelector('[type=submit]')
            submitbtn.addEventListener('click', function (event) {
                if (!form.checkValidity()) {
                    event.preventDefault()
                    event.stopPropagation()
                }
                form.classList.add('was-validated')
            }, false)
        })
    })()
</script>





{% else %}
<div class="mb-3 mb-lg-4">
    Vaša košarica je prazna
</div>
{% endif %}

{% endblock %}
