{% extends 'base.html' %}
{% block title %}amadeus{% endblock %}
{% block content %}
<div id="covercarousel" class="carousel carousel-dark slide my-3" data-bs-ride="carousel">
    <ol class="carousel-indicators">
        <li data-bs-target="#covercarousel" data-bs-slide-to="0" class="active"></li>
        <li data-bs-target="#covercarousel" data-bs-slide-to="1"></li>
        <li data-bs-target="#covercarousel" data-bs-slide-to="2"></li>
    </ol>
    <div class="carousel-inner">
        <div class="carousel-item active">
            <a href="https://bdeak.net">
                <img src="https://pioneer.hr/modules/homeslider/images/b1b099f43b77d537bcbb3e4ce088c2cda0f69f98_5edf177aeebab714a883fa00d6518b5c1cc8e92c_cover_amadeus_webshop.jpg"
                    class="d-block w-100" alt="...">
            </a>
        </div>
        <div class="carousel-item">
            <a href="https://bdeak.net">
                <img src="https://pioneer.hr/modules/themeconfigurator/img/55aede3fc991a9125521ffd5f27b2a340cdb7954_bannergaming915x300.jpg"
                    class="d-block w-100" alt="...">
            </a>
        </div>
        <div class="carousel-item">
            <a href="https://bdeak.net">
                <img src="https://pioneer.hr/modules/themeconfigurator/img/a795f692cb2aafd973d74339d3abc327dab5b78c_digitalni-prijamnici.jpg"
                    class="d-block w-100" alt="...">
            </a>
        </div>
    </div>
    <a class="carousel-control-prev" href="#covercarousel" role="button" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
    </a>
    <a class="carousel-control-next" href="#covercarousel" role="button" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
    </a>
</div>
{% endblock %}
