<style>
    #productcarousel .carousel-indicators>li {
        width: 100px;
    }
</style>

<div id="productcarousel" class="carousel carousel-dark slide my-4" data-bs-ride="carousel">

    <div class="carousel-inner">
        <div class="carousel-item active">
            <img src="https://pioneer.hr/1215-thickbox_default/playstation-vr-mega-pack-vch-vr-worlds-vch-camera-v2-mk4.jpg"
                class="d-block w-100" alt="...">
        </div>
        <div class="carousel-item">
            <img src="https://pioneer.hr/1216-thickbox_default/playstation-vr-mega-pack-vch-vr-worlds-vch-camera-v2-mk4.jpg"
                class="d-block w-100" alt="...">
        </div>
        <div class="carousel-item">
            <img src="https://pioneer.hr/794-thickbox_default/djm-750mk2.jpg" class="d-block w-100" alt="...">
        </div>
    </div>
    <a class="carousel-control-prev" href="#productcarousel" role="button" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
    </a>
    <a class="carousel-control-next" href="#productcarousel" role="button" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
    </a>
    <ol class="carousel-indicators">
        <li data-bs-target="#productcarousel" data-bs-slide-to="0" class="active"><img
                src="https://pioneer.hr/1215-thickbox_default/playstation-vr-mega-pack-vch-vr-worlds-vch-camera-v2-mk4.jpg"
                class="d-block w-100" alt="..."></li>
        <li data-bs-target="#productcarousel" data-bs-slide-to="1"><img
                src="https://pioneer.hr/1216-thickbox_default/playstation-vr-mega-pack-vch-vr-worlds-vch-camera-v2-mk4.jpg"
                class="d-block w-100" alt="..."></li>
        <li data-bs-target="#productcarousel" data-bs-slide-to="2"><img
                src="https://pioneer.hr/794-thickbox_default/djm-750mk2.jpg" class="d-block w-100" alt="..."></li>
    </ol>
</div>
