{% extends 'partials/base.html' %}
{% block title %}{{ proizvod[1] }}, samo {{ formatmoney(proizvod[3]) }} | Amadeus web trgovina{% endblock %}
{% block opis %}{{ proizvod[4]|striptags|truncate(155) }}{% endblock %}
{% block slika %}{% if slike|length %}{{ slike[0][0] }}{% else %}https://amadeus2.hr/static/img/logo-lg.png{% endif %}{% endblock %}
{% block head %}
<script type="application/ld+json">
    {
      "@context": "https://schema.org",
      "@type": "BreadcrumbList",
      "itemListElement": [{
        "@type": "ListItem",
        "position": 1,
        "name": "amadeus2.hr",
        "item": "https://amadeus2.hr"
      },{
        "@type": "ListItem",
        "position": 2,
        "name": "{{ proizvod[6] }}",
        "item": "https://amadeus2.hr/kategorija/{{ proizvod[5] }}-{{ proizvod[6]|slugify }}"
      },{
        "@type": "ListItem",
        "position": 3,
        "name": "{{ proizvod[1] }}"
      }]
    }
</script>
<script type="application/ld+json">
    {
      "@context": "https://schema.org/",
      "@type": "Product",
      "name": "{{ proizvod[1] }}",
      "image": [
        {% for slika in slike %}
        "{{ slika[0] }}"{% if not loop.last %},{% endif %}
        {% endfor %}
       ],
      "description": "{{ proizvod[4]|striptags|truncate(155) }}",
      "sku": "{{ proizvod[0] }}",
      "offers": {
        "@type": "Offer",
        "url": "https://amadeus2.hr{{ request.path }}",
        "priceCurrency": "HRK",
        "price": "{{ proizvod[3] }}",
        "itemCondition": "https://schema.org/NewCondition",
        "availability": "https://schema.org/{% if proizvod[7] > 0 %}InStock{% else %}OutOfStock{% endif %}"
      }
    }
</script>
{% endblock %}
{% block content %}

<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="/">amadeus2.hr</a></li>
        <li class="breadcrumb-item"><a href="/kategorija/{{ proizvod[5] }}-{{ proizvod[6]|slugify }}">{{ proizvod[6] }}</a></li>
        <li class="breadcrumb-item active" aria-current="page"><span class="d-none d-md-inline">{{ proizvod[1] }}</span></li>
    </ol>
</nav>

<div class="row">
    <div class="col-12 col-md-6">
        <div class="card p-2 mb-3 mb-lg-4">
            <div id="productcarousel" class="carousel carousel-dark slide" data-bs-ride="carousel">
                <div class="carousel-inner">
                    {% for slika in slike %}
                    <div class="carousel-item {% if loop.index == 1 %}active{% endif %}">
                        <div class="ratio ratio-1x1">
                            <img src="https://cdn.statically.io/img/{{ (slika[0]|urlparse).hostname }}/f=auto,w=620,q=90/{{ (slika[0]|urlparse).path }}"
                                onerror="this.src='{{ slika[0] }}'; this.onerror='';" style="object-fit: contain;" class="w-100 h-100" alt="slika proizvoda {{ loop.index }}">
                        </div>
                    </div>
                    {% else %}
                    <div class="ratio ratio-1x1">
                        <div>slika proizvoda</div>
                    </div>
                    {% endfor %}
                </div>
                <a class="carousel-control-prev" href="#productcarousel" role="button" data-bs-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Previous</span>
                </a>
                <a class="carousel-control-next" href="#productcarousel" role="button" data-bs-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Next</span>
                </a>
                <ol class="carousel-indicators">
                    {% for slika in slike %}
                    <li data-bs-target="#productcarousel" data-bs-slide-to="{{ loop.index - 1 }}" class="bg-transparent {% if loop.index == 1 %}active{% endif %}">
                        <div class="ratio ratio-1x1">
                            <img src="https://cdn.statically.io/img/{{ (slika[0]|urlparse).hostname }}/f=auto,w=30,q=90/{{ (slika[0]|urlparse).path }}"
                                onerror="this.src='{{ slika[0] }}'; this.onerror='';" style="object-fit: contain;" class="w-100 h-100" alt="tipka za prebacivanje na sliku proizvoda {{ loop.index }}">
                        </div>
                    </li>
                    {% endfor %}
                </ol>
            </div>
        </div>
    </div>
    <div class="col-12 col-md-6">
        <div class="card p-2 mb-3 mb-lg-4">
            <h1>{{ proizvod[1] }}</h1>
            <h2 style="font-size: 0.9rem;">Šifra: {{ proizvod[0] }}</h2>
            <h2 class="fs-6 fw-bold mt-2 mt-lg-3">Cijena za jednokratno plaćanje:</h2>
            <h3 class="mb-2">
                <div class="fs-6 mb-1">
                    MPC:
                    <span class="text-decoration-line-through">{{ formatmoney(proizvod[2]) }}</span>
                </div>
                <span class="text-nowrap">
                    <b>{{ formatmoney(proizvod[3]) }}</b>
                    <span class="badge rounded-pill bg-danger">-{{ formatmoney(proizvod[2]-proizvod[3]) }}</span>
                </span>
            </h3>
            <h2 class="fs-6 fw-bold mt-2 mt-lg-3">Cijena za plaćanje na rate:</h2>
            <div class="d-flex mb-3 mb-md-4 align-items-center">
                <select class="form-select" aria-label="Odaberi broj rata" title="Odaberi broj rata" autocomplete="off"
                    onchange="document.getElementById('placanje_rate_iznos').innerHTML = this.value">
                    <option value="{{ formatmoney((proizvod[3] / 2) * dec(1.08)) }}" selected>2 rate</option>
                    <option value="{{ formatmoney((proizvod[3] / 3) * dec(1.08)) }}">3 rate</option>
                    <option value="{{ formatmoney((proizvod[3] / 4) * dec(1.08)) }}">4 rate</option>
                    <option value="{{ formatmoney((proizvod[3] / 5) * dec(1.08)) }}">5 rata</option>
                    <option value="{{ formatmoney((proizvod[3] / 6) * dec(1.08)) }}">6 rata</option>
                    <option value="{{ formatmoney((proizvod[3] / 7) * dec(1.08)) }}">7 rata</option>
                    <option value="{{ formatmoney((proizvod[3] / 8) * dec(1.08)) }}">8 rata</option>
                    <option value="{{ formatmoney((proizvod[3] / 9) * dec(1.08)) }}">9 rata</option>
                    <option value="{{ formatmoney((proizvod[3] / 10) * dec(1.08)) }}">10 rata</option>
                    <option value="{{ formatmoney((proizvod[3] / 11) * dec(1.08)) }}">11 rata</option>
                    <option value="{{ formatmoney((proizvod[3] / 12) * dec(1.08)) }}">12 rata</option>
                    <option value="{{ formatmoney((proizvod[3] / 13) * dec(1.1)) }}">13 rata</option>
                    <option value="{{ formatmoney((proizvod[3] / 14) * dec(1.1)) }}">14 rata</option>
                    <option value="{{ formatmoney((proizvod[3] / 15) * dec(1.1)) }}">15 rata</option>
                    <option value="{{ formatmoney((proizvod[3] / 16) * dec(1.1)) }}">16 rata</option>
                    <option value="{{ formatmoney((proizvod[3] / 17) * dec(1.1)) }}">17 rata</option>
                    <option value="{{ formatmoney((proizvod[3] / 18) * dec(1.1)) }}">18 rata</option>
                    <option value="{{ formatmoney((proizvod[3] / 19) * dec(1.1)) }}">19 rata</option>
                    <option value="{{ formatmoney((proizvod[3] / 20) * dec(1.1)) }}">20 rata</option>
                    <option value="{{ formatmoney((proizvod[3] / 21) * dec(1.1)) }}">21 rata</option>
                    <option value="{{ formatmoney((proizvod[3] / 22) * dec(1.1)) }}">22 rate</option>
                    <option value="{{ formatmoney((proizvod[3] / 23) * dec(1.1)) }}">23 rate</option>
                    <option value="{{ formatmoney((proizvod[3] / 24) * dec(1.1)) }}">24 rate</option>
                </select>
                <span class="text-nowrap ms-2"><span id="placanje_rate_iznos" title="Iznos jedne mjesečne rate">{{ formatmoney((proizvod[3] / 2) * dec(1.08)) }}</span>/mj.</span>
            </div>
            {% if proizvod[7] > 0 %}
            <div class="text-success mb-3" style="margin-top: -0.25rem">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-check-circle-fill" viewBox="0 0 16 16">
                    <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-3.97-3.03a.75.75 0 0 0-1.08.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-.01-1.05z"/>
                </svg>
                Raspoloživo odmah
            </div>
            <form action="/cart" method="POST" class="d-flex">
                <input type="hidden" name="sifra" value="{{ proizvod[0] }}">
                <div class="input-group mb-0 me-2" style="max-width: 8rem;">
                    <button class="btn btn-outline-secondary px-2" title="-1" type="button" onclick="form.querySelector('[name=kolicina]').value--">
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="bi bi-dash" viewBox="0 0 16 16">
                            <path d="M4 8a.5.5 0 0 1 .5-.5h7a.5.5 0 0 1 0 1h-7A.5.5 0 0 1 4 8z"/>
                        </svg>
                    </button>
                    <input type="number" name="kolicina" class="form-control" aria-label="Količina" value="1" style="text-align: center;">
                    <button class="btn btn-outline-secondary px-2" title="+1" type="button" onclick="form.querySelector('[name=kolicina]').value++">
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="bi bi-plus" viewBox="0 0 16 16">
                            <path d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z"/>
                        </svg>
                    </button>
                </div>
                <div class="d-grid flex-grow-1">
                    <button type="submit" class="btn btn-primary text-truncate" title="Dodaj proizvod u košaricu" style="z-index: 1100;">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-cart3" viewBox="0 0 16 16">
                            <path fill-rule="evenodd" d="M0 1.5A.5.5 0 0 1 .5 1H2a.5.5 0 0 1 .485.379L2.89 3H14.5a.5.5 0 0 1 .49.598l-1 5a.5.5 0 0 1-.465.401l-9.397.472L4.415 11H13a.5.5 0 0 1 0 1H4a.5.5 0 0 1-.491-.408L2.01 3.607 1.61 2H.5a.5.5 0 0 1-.5-.5zM3.102 4l.84 4.479 9.144-.459L13.89 4H3.102zM5 12a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm7 0a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm-7 1a1 1 0 1 0 0 2 1 1 0 0 0 0-2zm7 0a1 1 0 1 0 0 2 1 1 0 0 0 0-2z" />
                        </svg>
                        Dodaj u košaricu
                    </button>
                </div>
            </form>
            {% else %}
            {% with contact_title = 'Pošaljite upit', contact_subtitle = 'Proizvod je možda moguće nabaviti' %}
            {% include "partials/contact_form.html" %}
            {% endwith %}
            <div class="d-grid">
                <button class="btn btn-danger">
                    Proizvod trenutno nije dostupan
                </button>
            </div>
            {% endif %}
        </div>
        <div class="card p-2 mb-3 mb-lg-4">
            <div class="d-flex flex-column flex-xl-row">
            <a class="btn btn-outline-secondary text-nowrap mb-2 mb-xl-0 me-xl-2" title="Podijeli ovaj proizvod na Facebooku" href='https://www.facebook.com/sharer.php?u={{ ("https://amadeus2.hr/proizvod/" + (proizvod[0]|string) + "-" + (proizvod[1]|slugify))|urlencode|replace("/", "%2F") }}' target="_blank">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-facebook" viewBox="0 0 16 16">
                    <path d="M16 8.049c0-4.446-3.582-8.05-8-8.05C3.58 0-.002 3.603-.002 8.05c0 4.017 2.926 7.347 6.75 7.951v-5.625h-2.03V8.05H6.75V6.275c0-2.017 1.195-3.131 3.022-3.131.876 0 1.791.157 1.791.157v1.98h-1.009c-.993 0-1.303.621-1.303 1.258v1.51h2.218l-.354 2.326H9.25V16c3.824-.604 6.75-3.934 6.75-7.951z" />
                </svg>
                Podijeli na Facebooku
            </a>
            <div class="input-group">
                <input type="text" class="form-control text-muted" aria-label="Link na proizvod" id="copytoclipboard" value="https://amadeus2.hr/proizvod/{{ proizvod[0] }}-{{ proizvod[1]|slugify }}" onclick="this.select();">
                <button class="btn btn-outline-secondary text-nowrap" type="button" onclick='
                el = document.getElementById("copytoclipboard");
                el.select();
                document.execCommand("copy");
                ' title="Kopiraj link na ovaj proizvod">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-scissors" viewBox="0 0 16 16">
                        <path d="M3.5 3.5c-.614-.884-.074-1.962.858-2.5L8 7.226 11.642 1c.932.538 1.472 1.616.858 2.5L8.81 8.61l1.556 2.661a2.5 2.5 0 1 1-.794.637L8 9.73l-1.572 2.177a2.5 2.5 0 1 1-.794-.637L7.19 8.61 3.5 3.5zm2.5 10a1.5 1.5 0 1 0-3 0 1.5 1.5 0 0 0 3 0zm7 0a1.5 1.5 0 1 0-3 0 1.5 1.5 0 0 0 3 0z"/>
                    </svg>
                    Kopiraj link
                </button>
            </div>
            </div>
        </div>
        <div class="card p-2 mb-3 mb-lg-4">
            {% if proizvod[7] > 0 %}
            <h2 class="h5">Obavijesti me o promjeni cijene</h2>
            {% else %}
            <h2 class="h5">Obavijesti me kad proizvod postane dostupan</h2>
            {% endif %}
            <form class="contact-form" novalidate>
                {% if proizvod[7] > 0 %}
                <input type="hidden" name="col" value="price">
                <input type="hidden" name="current_web_cijena" value="{{ proizvod[2] }}">
                <input type="hidden" name="current_web_cijena_s_popustom" value="{{ proizvod[3] }}">
                {% else %}
                <input type="hidden" name="col" value="quantity">
                <input type="hidden" name="current_quantity" value="{{ proizvod[7] }}">
                {% endif %}
                <input type="hidden" name="sifra_proizvoda" value="{{ proizvod[0] }}">
                <div class="input-group">
                    <input type="email" class="form-control" name="email" placeholder="Vaš email" required>
                    <button type="submit" class="btn btn-primary rounded-end" hx-post='/tracking' hx-target="#tracking-resp"
                        title="{% if proizvod[7] > 0 %}Obavijesti me o promjeni cijene{% else %}Obavijesti me kad proizvod postane dostupan{% endif %}">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-bell icon" viewBox="0 0 16 16">
                            <path d="M8 16a2 2 0 0 0 2-2H6a2 2 0 0 0 2 2zM8 1.918l-.797.161A4.002 4.002 0 0 0 4 6c0 .628-.134 2.197-.459 3.742-.16.767-.376 1.566-.663 2.258h10.244c-.287-.692-.502-1.49-.663-2.258C12.134 8.197 12 6.628 12 6a4.002 4.002 0 0 0-3.203-3.92L8 1.917zM14.22 12c.223.447.481.801.78 1H1c.299-.199.557-.553.78-1C2.68 10.2 3 6.88 3 6c0-2.42 1.72-4.44 4.005-4.901a1 1 0 1 1 1.99 0A5.002 5.002 0 0 1 13 6c0 .88.32 4.2 1.22 6z"/>
                        </svg>
                        <span class="spinner-border spinner-border-sm indicator" role="status" aria-hidden="true"></span>
                        Obavijesti me
                    </button>
                    <div class="invalid-feedback">
                        Molimo upišite Vašu email adresu
                    </div>
                </div>
                <div id="tracking-resp"></div>
            </form>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-12 col-md-6 col-lg-7 col-xl-8">
        {% if znacajke|length > 0 %}
        <h2>Specifikacije</h2>
        <div class="card p-2 mb-3">
            <table class="table rounded mb-0">
                {% for znacajka in znacajke %}
                <tr>
                    <td><b>{{ znacajka[0] }}</b></td>
                    <td>{{ znacajka[1] }}</td>
                </tr>
                {% endfor %}
            </table>
        </div>
        {% endif %}
        {% if proizvod[4] %}
        <h2>Opis</h2>
        <div class="card p-2 mb-3">
            {{ proizvod[4]|safe }}
        </div>
        {% endif %}
    </div>
    <div class="col-12 col-md-6 col-lg-5 col-xl-4">
        {% if preporuceni_proizvodi|length > 0 %}
        <h2>Preporučeni proizvodi</h2>
        <div class="mb-3 px-0">
            <div class="row" style="margin: -0.25rem;">
                {% for proizvod in preporuceni_proizvodi %}
                <div class="col-6 col-sm-4 col-md-6 p-1">
                    {% include "partials/product_card.html" %}
                </div>
                {% endfor %}
            </div>
        </div>
        {% endif %}
    </div>
</div>

{% include "partials/badges.html" %}

<div class="row">
    <div class="col-12 col-md-6">
        {% include "partials/akcija_dana.html" %}
    </div>
    <div class="col-12 col-md-6">
        {% include "partials/contact_form.html" %}
    </div>
</div>

{% include "partials/mailinglist_form.html" %}

{% endblock %}
