
{% extends 'partials/base.html' %}
{% block title %}Uplata po ponudi | Amadeus web trgovina{% endblock %}
{% block content %}

<div className="card">
    <p>
        <h1 class="h4">Narudžba će biti isporučena nakon što primimo Vašu uplatu.</h1>
    </p>
    <p>
        Podaci o banci za prijenos sredstava:<br>
        <b>Iznos:</b> {{ formatmoney(cijene.sum) }}<br>
        <b>Vlasnik računa:</b> Amadeus II d.o.o.<br>
        <b>Adresa banke (IBAN):</b> HR0823400091100187471 kod Privredna banka d.d., Zagreb
    </p>
    <p>
        Prilikom plaćanja po ponudi molimo pozovite se na broj ponude ({{ order_id }}). Da biste
        ubrzali proces slanja proizvoda molimo Vas ako ste u mogućnosti proslijedite nam na mail
        potvrdu o uspješnoj uplati. Sve uspješno provedene uplate do 15h šaljemo odmah isti dan
        brzom poštom prema Vama.
    </p>
</div>

{% include "partials/contact_form.html" %}

{% endblock %}
