.mobileImages {
  @apply hidden;
}

@media screen and (max-width: 767px) {
  .desktopImages {
    @apply hidden;
  }

  .mobileImages {
    @apply block;
  }
}

.type-img {
  filter: brightness(60%);
}

/* center on small screens */
@media screen and (max-width: 639px) {
  .type-name {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}

.featured-slide-container > div {
  @apply flex justify-center items-center
}

@media screen and (min-width: 500px) {
  .usm_hidden {
    @apply hidden
  }

  .usm_block {
    @apply block
  }
}
