@tailwind base;

@tailwind components;

@tailwind utilities;

@import './utilities.css';

.isDisabled:disabled {
  @apply shadow-outline;
}

.dot-image:disabled {
  @apply shadow-outline;
}

select:-moz-focusring {
    color: transparent;
    text-shadow: 0 0 0 #000;
}

/* always show scrollbar */
html {
  overflow-y: scroll;
}
