.cart {
  padding: 1rem;
  border: 1px solid #ccc;
  position: fixed;
  width: 400px;
  min-height: 100%;
  height: fit-content;
  top: 0;
  right: 0;
  background-color: #fff;
  will-change: transform;
  transition: all 300ms ease-out;
}

.cart-child {
  bottom: 0px;
  top: 65px;
  overflow-y: auto;
  position: absolute;
  width: 100%;

  ul {
    padding: 0;
    margin: 0;

    li {
      width: 100%;
    }
  }
}

ul {
  padding: 0;
  margin: 0;
}

.cart.open {
  transform: translateX(0);
}

.cart.close {
  transform: translateX(100%);
}

.instantsearch.open {
  filter: blur(1px);
  transform: translateX(-400px);
  transition: all 300ms ease-out;
}

.instantsearch.close {
  filter: blur(0);
  transform: translateX(0);
  transition: all 300ms ease-out;
}

// .itemWrapper.open {
//   filter: blur(1px);
//   transform: translateX(-400px);
//   transition: all 300ms ease-out;
// }

// .itemWrapper.close {
//   filter: blur(0);
//   transform: translateX(0);
//   transition: all 300ms ease-out;
// }

.toggleCart {
  position: absolute;
  top: 0;
  right: 0;
  width: 50px;
  height: 50px;
  background-color: rebeccapurple;
  color: #fff;
  outline: none;
  border: 0;
}

.toggleCart.open {
  transform: translateX(-400px);
  transition: all 300ms ease-out;
}

.toggleCart.close {
  transform: translateX(0);
  transition: all 300ms ease-out;
}

li {
  display: inline-block;
  margin: 2rem;
}

.ais-Hits-item {
  margin: 0;
}

* {
  box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
    Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.search {
  height: 60px;
  width: 90vw;
  max-width: 750px;
  display: block;
  margin: 50px auto;
  line-height: 1.6;
  padding: 15px;
  font-size: 38px;
  border: 1px solid #ccc;
  border-radius: 6px;
}

.search:focus {
  outline: none;
}

// box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);

.itemWrapper {
  display: flex;
  flex-direction: row;
  margin: 2rem;
}

.dot {
  margin: 0.1rem;
  padding: 0.1rem;
  border: 0;
  border: 2px solid #fff;

  &:focus {
    outline: 0;
  }
}

.imageWrapper {
  position: relative;
  padding: 0 50px;
}

.dotWrapper {
  padding: 0 50px;
  display: flex;
  justify-content: center;
}

.buttonBack,
.buttonNext {
  margin: 0;
  padding: 0;
  border: 0;

  &:focus {
    outline: 0;
  }
}

.buttonBack {
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
}

.buttonNext {
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
}

.carousel__dot--selected {
  border: 2px solid #663399;
}

.carousel {
  margin-right: 2rem;
  width: 50%;
  max-width: 600px;
  min-width: 300px;
}

.details {
  width: 50%;
}

.list {
  text-align: center;
}
