/////////////////////////////////////////////
////// global
/////////////////////////////////////////////

a {
    text-decoration: none;
}

body {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

* {
     border-width: 0;
     border-style: solid;
     border-color: #e2e8f0;
}

select {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' fill='%23a0aec0'%3e%3cpath d='M15.3 9.3a1 1 0 0 1 1.4 1.4l-4 4a1 1 0 0 1-1.4 0l-4-4a1 1 0 0 1 1.4-1.4l3.3 3.29 3.3-3.3z'/%3e%3c/svg%3e");
    appearance: none;
    background-repeat: no-repeat;
    background-color: #fff;
    border-color: #e2e8f0;
    border-width: 1px;
    border-radius: 0.25rem;
    padding-top: 0.4rem;
    padding-right: 1.8rem;
    padding-bottom: 0.4rem;
    padding-left: 0.5rem;
    font-size: 1rem;
    background-position: right 0.25rem center;
    // background-position: right 0.5rem center;
    background-size: 1.5em 1.5em;
}

input {
    appearance: none;
    background-color: #fff;
    border-color: #e2e8f0;
    border-width: 1px;
    border-radius: 0.25rem;
    padding-top: 0.5rem;
    padding-right: 0.75rem;
    padding-bottom: 0.5rem;
    padding-left: 0.75rem;
    font-size: 1rem;
    line-height: 1.5;
}

textarea {
    appearance: none;
    background-color: #fff;
    border-color: #e2e8f0;
    border-width: 1px;
    border-radius: 0.25rem;
    padding-top: 0.5rem;
    padding-right: 0.75rem;
    padding-bottom: 0.5rem;
    padding-left: 0.75rem;
    font-size: 1.1rem;
    line-height: 1.5;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

input:focus,
select:focus,
textarea:focus,
.contact_submit:focus:not(:disabled),
.banner_learn_more:focus:not(:disabled),
.add_to_cart_button:focus:not(:disabled),
.contact_submit:active:not(:disabled),
.banner_learn_more:active:not(:disabled),
.add_to_cart_button:active:not(:disabled),
.x_button:active,
.x_button:focus {
    outline: none;
    box-shadow: 0 0 0 3px rgba(66, 153, 225, 0.5);
    border-color: #63b3ed;
}

li {
    list-style: none;
}

// disable focus ring in firefox
select:-moz-focusring {
    color: transparent;
    text-shadow: 0 0 0 #000;
}

/////////////////////////////////////////////
////// container
/////////////////////////////////////////////

.headerInfo,
.search,
footer > *,
.container {
  max-width: 1280px;
  width: 95%;
  margin: 0 auto;
}

body {
    margin: 0;
    line-height: 1.5;
}

// Hide scrollbars for glider-js in firefox
@-moz-document url-prefix() {
  .glider-track {
    margin-bottom: 17px;
  }
  .glider-wrap {
    overflow: hidden;
  }
}

/////////////////////////////////////////////
////// header
/////////////////////////////////////////////

.headerInfoWrapper {
    background-color: #111;
}

.headerInfo {
    padding: 0.5rem 0;

    display: flex;
    justify-content: space-between;

    a {
        color: #eee;
        font-size: 0.8rem;
        display: flex;
        align-items: center;
    }

    .feather-mail,
    .feather-phone-call {
        margin-right: 0.5rem;
    }
}

@media screen and (max-width: 360px) {
	.email_label {
		display: none;
	}
}

@media screen and (max-width: 600px) {
	.account_label {
		display: none;
	}
}

.account_label {
	margin-right: 0.5rem;
}

.header {
    margin: 0.75rem 0;
}

.logo {
    width: 11rem;
    height: 2.25rem;
}

.main_part_header {
    width: 100%;

    display: flex;

    a {
        flex-grow: 1;
    }

    button {
        display: flex;
        align-items: center;
        background-color:  transparent;
        border: none;

        &:focus {
            outline: none;
            color: cyan;
        }

        svg {
            height: 2.25rem;
            width: 2.25rem;
        }
    }

    .cartButton {
        position: relative;
        margin-right: 0.1rem;
    }

    .cartItemCount {
        position: absolute;
        top: -3px;
        right: -3px;
        font-size: 0.8rem;

        height: 1.4rem;
        width: 1.4rem;
        background-color: cyan;

        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 50%;
    }
}

.header_select {
    display: flex;
    justify-content: flex-end;
    margin-top: 0.75rem;
    margin-bottom: 1.25rem;
}

.select_currency {
    margin-left: 0.75rem;
}

/////////////////////////////////////////////
////// banners
/////////////////////////////////////////////

.carousel_nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 0.15rem;

    > button {
        background: transparent;
        padding: 0;

        &.disabled {
            opacity: 0.25;
        }

        &:focus {
            outline: 0;
        }

        svg {
            height: 2.25rem;
            width: 2.25rem;
        }
    }
}

.glider-dot {
    opacity: 0.25;
    background-color: black !important;

    &.active {
        opacity: 0.9;
    }
}

.desktop {
    display: none;
}

@media (min-width: 640px) {
    .desktop {
        display: block;
    }

    .mobile {
        display: none;
    }
}

.banner {
    position: relative
}

// fix carousel flash of content
.desktop-banner-glider > *:nth-child(n + 2),
.mobile-banner-glider > *:nth-child(n + 2),
.featured-glider > *:nth-child(n + 2),
.item-glider > *:nth-child(n + 2) {
    display: none;
}

.banner_learn_more {
    position: absolute;
    color: black;
}

.desktop .banner_learn_more {
    bottom: 4rem;
    left: 5rem;
    background: white;
    padding: 0.8rem;
}

.mobile .banner_learn_more {
    bottom: 10%;
    left: 10%;

    font-size: 1.25rem;
    font-weight: 500;
    padding: 0.5rem 1.2rem;
    background-color: #fff;
    border-color: #e2e8f0;
    border-width: 1px;
    border-radius: 0.35rem;
}

/////////////////////////////////////////////
////// featured items
/////////////////////////////////////////////

.featured_heading {
    font-size: 1.75rem;
    margin-bottom: 0.4rem;
    margin-top: 2.5rem;
}

.card.featured {
    display: flex;
    flex-direction: column;

    a {
        color: black;
    }

    h2 {
        font-size: 1.75rem;
        margin: 0;
        padding-top: 0.5rem;
        font-weight: 600;
        margin: 0 1.25%;
    }

    h3 {
        margin: 0;
        font-size: 1.5rem;
    }

    strike {
        margin-right: 0.75rem;
        font-size: 1.4rem;
        font-weight: 400;
        opacity: 0.6;
    }

    .card_params {
        margin: 0 1.25%;
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
    }

    .card_quantity {
        font-weight: 500;
        font-size: 1.2rem;
    }

    .add_to_cart_button {
        align-self: center;
        width: 97.5%;
        color: black;
        font-size: 1.25rem;
        font-weight: 500;
        padding: 0.75rem 0;
        background-color: #fff;
        border-color: #e2e8f0;
        border-width: 1px;
        border-radius: 0.35rem;
        margin: 0.5rem 0 0.2rem 0;

        &:disabled {
            opacity: 0.5;
        }
    }
}

/////////////////////////////////////////////
////// contact
/////////////////////////////////////////////

.contact_textarea {
    width: 93.5%;
    resize: vertical;
    margin-top: 0.75rem;
}

.form_heading {
    display: flex;
    justify-content: space-between;
}

.contact_submit {
    appearance: none;
    background-color: #fff;
    border-color: #e2e8f0;
    border-width: 1px;
    border-radius: 0.25rem;
    padding-top: 0.5rem;
    padding-right: 1.25rem;
    padding-bottom: 0.5rem;
    padding-left: 1.25rem;
    font-size: 1rem;
    margin-left: 0.75rem;

    &:disabled {
        opacity: 0.5;
    }
}

.contact_email {
    flex-grow: 1;
	width: 1px;
}

.contact_info {
    margin: 0;
    text-align: right;
}

/////////////////////////////////////////////
////// categories
/////////////////////////////////////////////

.categories {
    display: flex;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
}

.category {
    max-width: calc(300px - 0.5rem);
    width: calc(50% - 0.5rem);
    margin: 0.25rem;

    position: relative;
    border-radius: 0.1rem;
    overflow: hidden;

    .category_image {
        filter: brightness(0.6);
        object-fit: cover;
    }

    span {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%,-50%);

        font-size: 1.75rem;
        font-weight: 500;
        color: #fff;
    }

}

/////////////////////////////////////////////
////// list
/////////////////////////////////////////////

.shown_brands_mobile {
	display: flex;
	align-items: baseline;

	.shown_brands_text {
		font-size: 1.25rem;
		margin-right: 0.75rem;
	}

	.shown_brands_select {
		flex-grow: 1;
		width: 1px;
	}
}

.itemsList {
    display: flex;
    flex-wrap: wrap;
	margin: 0;
    padding: 0;
    margin-top: 0.4rem;
}

.card.regular {
    display: flex;
    flex-direction: column;
	width: 100%;
	height: fit-content;
	padding: 0.7rem;
	background-color: #fff;
	border-color: #e2e8f0;
	border-width: 1px;
	border-radius: 0.35rem;
	margin: 0.5rem 0;

    a {
        color: black;
    }

    h2 {
        font-size: 1.75rem;
        margin: 0;
        padding-top: 0.5rem;
        font-weight: 600;
    }

    h3 {
        margin: 0;
        font-size: 1.5rem;
    }

    strike {
        margin-right: 0.75rem;
        font-size: 1.4rem;
        font-weight: 400;
        opacity: 0.6;
    }

    .card_params {
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
    }

    .card_quantity {
        font-weight: 500;
        font-size: 1.2rem;
    }

	.gatsby-image-wrapper {
		margin-top: 0.1rem;
	}

    .add_to_cart_button {
        align-self: center;
        width: 100%;
        color: black;
        font-size: 1.25rem;
        font-weight: 500;
        padding: 0.75rem 0;
        background-color: #fff;
        border-color: #e2e8f0;
        border-width: 1px;
        border-radius: 0.35rem;
        margin-top: 0.5rem;

        &:disabled {
            opacity: 0.5;
        }
    }
}

.load_more_button {
	width: 100%;
	color: black;
	font-size: 1.25rem;
	font-weight: 500;
	padding: 0.75rem 0;
	background-color: #fff;
	border-color: #e2e8f0;
	border-width: 1px;
	border-radius: 0.35rem;
	margin-top: 0.5rem;
	margin-bottom: 0.5rem;

	&:disabled {
		opacity: 0.5;
	}
}

/////////////////////////////////////////////
////// footer
/////////////////////////////////////////////

footer {
	background-color: black;
	margin-top: 0.5rem;
	padding: 1px 1rem 1.25rem 1rem;

	ul {
		margin: 0;
		padding: 0;
		padding-left: 0.25rem;
	}

	a {
		color: #eee;
		text-decoration: underline;

		&:hover {
			text-decoration: none;
		}
	}

	h2 {
		color: white;
		margin-top: 1rem;
		margin-bottom: 0.1rem;
	}
}


.newsletter_container {
	display: flex;
	margin-top: 0.35rem;

	input {
		background: transparent;
		border-color: #333;
		color: white;
		flex-grow: 1;
		width: 1px;
	}

	button {
		font-size: 1rem;
		font-weight: 500;
		padding: 0.75rem 0;
		background-color: transparent;
		border-color: #333;
		color: white;
		border-width: 1px;
		border-radius: 0.35rem;
		padding: 0 1rem;
		margin-left: 0.75rem;
		white-space: pre;

		&:disabled {
			opacity: 0.5;
		}
	}
}

.logo_footer_container {
	width: 100%;
	display: flex;
	justify-content: center;
}

.logo_footer {
	width: 95%;
	margin: 1.5rem 0.25rem 0.25rem 0;

	filter: brightness(100) opacity(1);
	// do this on desktop
	// filter: brightness(100) opacity(0.6);
	// transition: 0.25s;

	// &:hover {
	// 	filter: brightness(100) opacity(1);
	// }
}

.footer_list_with_icons {
	li {
		a {
			display: flex;
			align-items: center;
			padding: 0.2rem 0;

			svg {
				margin-right: 0.5rem;
			}
		}
	}

	li:not(:first-of-type) {
		margin: 0.2rem 0;
	}
}

address {
    display: inline;
	font-style: normal;
}

/////////////////////////////////////////////
////// item
/////////////////////////////////////////////

.breadcrumbs a {
	color: black;
	text-decoration: underline;

	&:hover {
		text-decoration: none;
	}
}

.item-carousel {
	margin-top: 0.25rem;

	[role="tablist"] {
		display: flex;
		overflow-x: scroll;
		margin-top: 0.25rem;
		padding-bottom: 0.5rem;

		& > :not(:last-of-type) {
			margin-right: 0.25rem;
		}

		& > div  > * {
			width: 80px !important;
			height: 60px !important;
		}
	}
}

.item_content {
	h1 {
		font-size: 2rem;
		margin: 0.5rem 0;
		line-height: 1.25;
	}

	.availability {
        font-size: 1rem;
		font-weight: 400;
		margin: 0.75rem 0 0.25rem 0;
	}

    h3 {
        margin: 0;
        font-size: 1.5rem;
    }

    strike {
        margin-right: 0.75rem;
        font-size: 1.4rem;
        font-weight: 400;
        opacity: 0.6;
    }

    .item_params {
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
    }

    .item_quantity {
        font-weight: 500;
        font-size: 1.2rem;
    }

    .add_to_cart_button {
        align-self: center;
        width: 100%;
        color: black;
        font-size: 1.25rem;
        font-weight: 500;
        padding: 0.75rem 0;
        background-color: #fff;
        border-color: #e2e8f0;
        border-width: 1px;
        border-radius: 0.35rem;
        margin: 0.5rem 0 0.2rem 0;

        &:disabled {
            opacity: 0.5;
        }
    }

	.description {
		box-sizing: border-box;
		display: flex;
		flex-direction: column;
		width: 100%;
		padding: 0.7rem;
		background-color: #fff;
		border-color: #e2e8f0;
		border-width: 1px;
		border-radius: 0.35rem;
		margin: 1.25rem 0;
	}
}

.item_contact {
	margin-bottom: 0.75rem;

	.featured_heading {
		margin-top: 1.25rem;
	}
}

/////////////////////////////////////////////
////// types
/////////////////////////////////////////////

.type_heading {
	font-size: 1.75rem;
	margin-bottom: 0.4rem;
	margin-top: 0;
}

/////////////////////////////////////////////
////// search
/////////////////////////////////////////////

.overlay {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;

	background-color: rgba(0, 0, 0, 0.65);

	display: flex;
	justify-content: center;
	align-items: center;
}

.hidden {
	display: none;
}

.search {
	height: 100%;
	margin-top: 2rem;
	display: flex;
	flex-direction: column;
	// background: red;

	.inputs {
		display: flex;
		position: sticky;
		top: 0;
		align-items: center;
		margin: 0 0.25rem 0.75rem 0.25rem;

		input {
			font-size: 1.25rem;
			flex-grow: 1;
		}

		button {
			padding: 0.35rem 0.35rem 0.15rem 0.35rem;
			background-color: #fff;
			border-color: #e2e8f0;
			border-width: 1px;
			border-radius: 0.35rem;
			margin-left: 0.75rem;

			svg {
				height: 2.25rem;
				width: 2.25rem;
			}
		}
	}

	.select_type_brand {
		padding: 0.75rem;
		margin: 0.75rem 0.25rem;
		background-color: #fff;
		border-color: #e2e8f0;
		border-width: 1px;
		border-radius: 0.35rem;

		> :not(:last-of-type) {
			margin-bottom: 0.75rem;
		}
	}

	.itemsList {
		margin-top: 0;
		overflow-y: scroll;
		flex-grow: 1;

		.card.regular {
			margin-right: 0.25rem;
			margin-left: 0.25rem;
		}

		.card.regular:first-of-type {
			margin-top: 0;
		}
	}
}

/////////////////////////////////////////////
////// cart
/////////////////////////////////////////////

.cart {
	max-width: 800px;
	width: 95%;
	margin: 0 auto;
	background-color: white;
	max-height: 100%;
	overflow-y: scroll;
	border-radius: 0.25rem;

	.head {
		display: flex;
		align-items: center;
		justify-content: space-between;
		margin: 0.75rem;

		h2 {
			font-size: 1.75rem;
			margin: 0 0.75rem;
		}

		button {
			padding: 0.35rem 0.35rem 0.15rem 0.35rem;
			background-color: #fff;
			border-color: #e2e8f0;
			border-width: 1px;
			border-radius: 0.35rem;
			margin-left: 0.75rem;

			svg {
				height: 2.25rem;
				width: 2.25rem;
			}
		}
	}

	.cartItems {
		padding: 0;
		margin: 0 0.75rem;

		.cartItem {
			.cartItemHead {
				display: flex;

				h3 {
					margin: 0;
				}

				.cartImage > * {
					width: 80px !important;
					height: 60px !important;
				}
			}

			.cartItemParams {
				display: flex;
			}

			&:not(:last-of-type) {
				border-bottom: 1px solid red;
			}
		}
	}
}

[type="checkbox"] {
	appearance: none;
	display: inline-block;
	vertical-align: middle;
	background-origin: border-box;
	user-select: none;
	height: 1em;
	width: 1em;
	color: #4299e1;
	background-color: #fff;
	border-color: #e2e8f0;
	border-width: 1px;
	border-radius: 0.25rem;
	padding: 0;
}

[type="checkbox"]:checked {
	background-image: url("data:image/svg+xml,%3csvg viewBox='0 0 16 16' fill='white' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M5.707 7.293a1 1 0 0 0-1.414 1.414l2 2a1 1 0 0 0 1.414 0l4-4a1 1 0 0 0-1.414-1.414L7 8.586 5.707 7.293z'/%3e%3c/svg%3e");
	border-color: transparent;
	background-color: currentColor;
	background-size: 100% 100%;
	background-position: center;
	background-repeat: no-repeat;
}

.terms_wrapper {
	margin: 0 0.75rem;
	display: flex;
	align-items: center;
}

.terms_label {
	margin-left: 0.25rem;
}

.buy_button {
	width: calc(100% - 1.5rem);
	margin: 0.75rem;
}
