.container {
  max-width: 1280px;
  width: 95%;
  margin: 0 auto;
}

// Hide scrollbars for glider-js in firefox
@-moz-document url-prefix() {
  .glider-track {
    margin-bottom: 17px;
  }
  .glider-wrap {
    overflow: hidden;
  }
}
