<div class="d-flex flex-column h-100">
    <div>
        <h2>AMADEUS II d.o.o.</h2>
        <ul class="list-unstyled mb-4">
            <li><b style="font-weight: 500;">Adresa:</b> <a href="https://goo.gl/maps/74YCcjpq3PBWpKZK9" title="Google Maps" class="text-dark text-decoration-none">Vladimira Nazora 45, 20340 Ploče</a></li>
            <li title="Od ponedjeljka do petka 08:00-20:00, subotom 08:00-13:00"><b style="font-weight: 500;">Radno vrijeme:</b> <span style="white-space: nowrap">Pon-Pet 08:00-20:00</span>, <span style="white-space: nowrap">Sub 08:00-13:00</span></li>
            <li><b style="font-weight: 500;">OIB:</b> 78248871009</li>
            <li><b style="font-weight: 500;">IBAN:</b> HR0823400091100187471 (PBZ)</li>
            <li><b style="font-weight: 500;">Telefon:</b> <a href="tel:+38520670111" title="Telefon" class="text-dark text-decoration-none">+385 (20) 670 111</a></li>
            <li><b style="font-weight: 500;">Email:</b> <a href="mailto:info@pioneer.hr" title="Email" class="text-dark text-decoration-none">info@pioneer.hr</a></li>
        </ul>
    </div>
    <div class="mt-auto">
        <a target="_blank" href="http://www.wspay.info" rel="noopener">
            <img alt="WSPay" title="WSPay" src="https://cdn.statically.io/img/amadeus2.hr/f=auto,h=46,q=90/static/img/wspay-logo.png"
                onerror="this.src='/static/img/wspay-logo.png'; this.onerror='';" height="46">
        </a>
    </div>
</div>
