<div class="d-flex flex-column h-100">
    <div>
        <h2>AMADEUS II d.o.o.</h2>
        <ul class="list-unstyled mb-4">
            <li>Adresa: Vladimira Nazora 45, 20340 Ploče</li>
            <li>OIB: 78248871009</li>
            <li>Telefon: +385 (20) 670 111</li>
            <li>Mail: amadeus@pioneer.hr</li>
        </ul>
    </div>
    <div class="mt-auto">
        <a target="_blank" href="http://www.wspay.info"><img alt="wspay logo" src="/static/img/wspay-logo.png" height="46"></a>
    </div>
</div>
