<div class="d-flex flex-column h-100">
    <div>
        <h2>AMADEUS II d.o.o.</h2>
        <ul class="list-unstyled mb-4">
            <li>Adresa: <a href="https://goo.gl/maps/74YCcjpq3PBWpKZK9" title="Google Maps" class="text-dark text-decoration-none">Vladimira Nazora 45, 20340 Ploče</a></li>
            <li>OIB: 78248871009</li>
            <li>IBAN: HR0823400091100187471 (PBZ)</li>
            <li>Telefon: <a href="tel:+38520670111" title="Telefon" class="text-dark text-decoration-none">+385 (20) 670 111</a></li>
            <li>Email: <a href="mailto:prodaja@pioneer.hr" title="Email" class="text-dark text-decoration-none">prodaja@pioneer.hr</a></li>
        </ul>
    </div>
    <div class="mt-auto">
        <a target="_blank" href="http://www.wspay.info">
            <img alt="WSPay" title="WSPay" src="https://cdn.statically.io/img/amadeus2.hr/f=auto,h=36,q=90/static/img/wspay-logo.png"
                onerror="this.src='/static/img/wspay-logo.png'; this.onerror='';" height="46">
        </a>
    </div>
</div>
