{% if akcija_dana %}
<h2>Akcija dana</h2>
<div class="card mb-3 mb-lg-4">
    <div class="row g-0 m-2">
        <div class="col-5">
            <div class="d-flex align-items-center h-100">
                <img src="{{ akcija_dana[5] }}" alt="slika proizvoda" width="100%">
            </div>
        </div>
        <div class="col-7">
            <div class="d-flex flex-column ms-2 h-100">
                <h3 class="h6 flex-grow-1">
                    <a href="/proizvod/{{ akcija_dana[0] }}-{{ akcija_dana[1]|slugify }}" title="Više informacija" class="stretched-link text-decoration-none text-dark overflow-hidden">
                        <span class="badge rounded-pill bg-warning text-dark mb-2 ms-2 float-end" style="font-size: 0.95rem;" id="countdown">
                            00:00:00
                            <span class="visually-hidden">time left</span>
                        </span>
                        {{ akcija_dana[1] }}
                    </a>
                </h3>
                <div>
                    <h4 class="h6 overflow-hidden">
                        <span class="d-block text-decoration-line-through" style="font-size: 0.75rem;">{{ formatmoney(akcija_dana[2]) }}</span>
                        <span class="text-nowrap">
                            <b>{{ formatmoney(akcija_dana[3]) }}</b>
                            <span class="badge rounded-pill bg-danger">-{{ formatmoney(akcija_dana[2]-akcija_dana[3]) }}</span>
                        </span>
                    </h4>
                    <h5 style="font-size: 0.9rem;">
                        Dostupno još samo <b>{{ akcija_dana[4] }} kom.</b>
                    </h5>
                    <form action="/cart" method="POST" class="d-grid">
                        <input type="hidden" name="sifra" value="{{ akcija_dana[0] }}">
                        <input type="hidden" name="kolicina" value="1">
                        <button type="submit" title="Dodaj proizvod u košaricu" class="btn btn-primary text-truncate" style="z-index: 1100;">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-cart3" viewBox="0 0 16 16">
                                <path fill-rule="evenodd" d="M0 1.5A.5.5 0 0 1 .5 1H2a.5.5 0 0 1 .485.379L2.89 3H14.5a.5.5 0 0 1 .49.598l-1 5a.5.5 0 0 1-.465.401l-9.397.472L4.415 11H13a.5.5 0 0 1 0 1H4a.5.5 0 0 1-.491-.408L2.01 3.607 1.61 2H.5a.5.5 0 0 1-.5-.5zM3.102 4l.84 4.479 9.144-.459L13.89 4H3.102zM5 12a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm7 0a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm-7 1a1 1 0 1 0 0 2 1 1 0 0 0 0-2zm7 0a1 1 0 1 0 0 2 1 1 0 0 0 0-2z" />
                            </svg>
                            Dodaj u košaricu
                        </button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    function convertDateForIOS(date) {
        var arr = date.split(/[- :]/);
        date = new Date(arr[0], arr[1]-1, arr[2], arr[3], arr[4], arr[5]);
        return date;
    }
    var countDownDate = convertDateForIOS("{{ tomorrow }} 00:00:00").getTime();
    setInterval(function() {
      var distance = countDownDate - new Date().getTime();
      if (distance < 0) return
      var hours = Math.floor((distance % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60));
      var minutes = Math.floor((distance % (1000 * 60 * 60)) / (1000 * 60));
      var seconds = Math.floor((distance % (1000 * 60)) / 1000);
      var el = document.getElementById("countdown")
      el.innerHTML = `${hours < 10 ? "0" : ""}${hours}:${minutes < 10 ? "0" : ""}${minutes}:${seconds < 10 ? "0" : ""}${seconds}`;
      if (hours < 6) {
        el.classList.add("bg-danger")
        el.classList.add("text-white")
      }
    }, 1000);
</script>
{% endif %}
