<label class="form-label w-100">
    Ime
    <input type="text" class="form-control" name="{{ prefix }}-ime" placeholder="Ime" {{ "required" if required }}>
    <div class="invalid-feedback">
        Molimo upišite ime
    </div>
</label>
<label class="form-label w-100">
    Prezime
    <input type="text" class="form-control" name="{{ prefix }}-prezime" placeholder="Prezime" {{ "required" if required }}>
    <div class="invalid-feedback">
        Molimo upišite prezime
    </div>
</label>
<label class="form-label w-100">
    Ulica i broj
    <input type="text" class="form-control" name="{{ prefix }}-ulica" placeholder="Ulica i broj" {{ "required" if required }}>
    <div class="invalid-feedback">
        Molimo upišite ulicu i broj
    </div>
</label>
<label class="form-label w-100">
    Poštanski broj
    <input type="text" class="form-control" name="{{ prefix }}-postanskibroj" placeholder="Poštanski broj" {{ "required" if required }}>
    <div class="invalid-feedback">
        Molimo upišite poštanski broj
    </div>
</label>
<label class="form-label w-100">
    Mjesto
    <input type="text" class="form-control" name="{{ prefix }}-mjesto" placeholder="Mjesto" {{ "required" if required }}>
    <div class="invalid-feedback">
        Molimo upišite mjesto
    </div>
</label>
<label class="form-label w-100">
    Država
    <select class="form-select" name="{{ prefix }}-drzava" aria-label="Država" {{ "required" if required }}>
        <option selected>Hrvatska</option>
    </select>
    <div class="invalid-feedback">
        Molimo odaberite državu
    </div>
</label>
<label class="form-label w-100">
    Email adresa
    <input type="text" class="form-control" name="{{ prefix }}-email" placeholder="Email adresa" {{ "required" if required }}>
    <div class="invalid-feedback">
        Molimo upišite email adresu
    </div>
</label>
<label class="form-label w-100">
    Mobitel
    <input type="text" class="form-control" name="{{ prefix }}-mobitel" placeholder="Mobitel" {{ "required" if required }}>
    <div class="invalid-feedback">
        Molimo upišite mobitel
    </div>
</label>
