<form method="GET" id="filterform">
    {% if modified %}
    <div class="d-grid">
        <button type="button" class="btn btn-danger mb-3" onclick="
        const form = document.getElementById('filterform')
        form.querySelector('select').selectedIndex = 0
        form.querySelectorAll('[type=checkbox]').forEach(el => { el.checked = false })
        form.querySelector('[name=c-min]').value = ''
        form.querySelector('[name=c-max]').value = ''
        form.submit()
        ">
            Poništi filtere
        </button>
    </div>
    {% endif %}
    <h2 class="h4">Sortiranje</h2>
    <select name="s" autocomplete="off" class="form-select mb-3" aria-label="Default select example">
        <option value="" {{"selected" if sort == ""}}>Zadano</option>
        <option value="a-z" {{"selected" if sort == "a-z"}}>Naziv (A do Z)</option>
        <option value="z-a" {{"selected" if sort == "z-a"}}>Naziv (Z do A)</option>
        <option value="min-max" {{"selected" if sort == "min-max"}}>Cijena (niža prema višoj)</option>
        <option value="max-min" {{"selected" if sort == "max-min"}}>Cijena (viša prema nižoj)</option>
    </select>
    {% if filtergrupe|length %}
    <h2 class="h4">Kategorije</h2>
    <ul class="list-unstyled">
        {% for grupa in filtergrupe %}
        <li>
            <div class="form-check">
                <label class="form-check-label">
                    <input type="checkbox" name="g[]" value="{{ grupa[0] }}"
                    {% if grupa[2] %}checked{% endif %}
                    class="form-check-input">
                    {{ grupa[1] }}
                </label>
            </div>
        </li>
        {% endfor %}
    </ul>
    {% endif %}
    {% for sifra in znacajke %}
    <h2 class="h4">{{ znacajke[sifra]['naziv'] }}</h2>
    <ul class="list-unstyled">
        {% for vrijednost in znacajke[sifra]['vrijednosti'] %}
        <li>
            <div class="form-check">
                <label class="form-check-label">
                    <input type="checkbox" name="z-{{ sifra }}[]" value="{{ vrijednost[0] }}"
                    {% if vrijednost[1] %}checked{% endif %}
                    class="form-check-input">
                    {{ vrijednost[0] }}
                </label>
            </div>
        </li>
        {% endfor %}
    </ul>
    {% endfor %}
    <h2 class="h4">Cijena</h2>
    <div class="input-group mb-2">
        <span class="input-group-text">OD</span>
        <input type="text" class="form-control" name="c-min" value="{% if cijene[0] %}{{ cijene[0] }}{% endif %}" placeholder="{{ agg[0] }}" aria-label="Amount (to the nearest dollar)">
        <span class="input-group-text">kn</span>
    </div>
    <div class="input-group mb-3">
        <span class="input-group-text">DO</span>
        <input type="text" class="form-control" name="c-max" value="{% if cijene[1] %}{{ cijene[1] }}{% endif %}" placeholder="{{ agg[1] }}" aria-label="Amount (to the nearest dollar)">
        <span class="input-group-text">kn</span>
    </div>

    <input type="hidden" name="q" value="{% if query %}{{ query }}{% endif %}" id="queryinput">
    <input type="hidden" name="p" value="1" id="pageinput">

    <div class="d-grid">
        <button type="submit" title="Primjeni filtere" class="btn btn-primary">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-funnel" viewBox="0 0 16 16">
                <path d="M1.5 1.5A.5.5 0 0 1 2 1h12a.5.5 0 0 1 .5.5v2a.5.5 0 0 1-.128.334L10 8.692V13.5a.5.5 0 0 1-.342.474l-3 1A.5.5 0 0 1 6 14.5V8.692L1.628 3.834A.5.5 0 0 1 1.5 3.5v-2zm1 .5v1.308l4.372 4.858A.5.5 0 0 1 7 8.5v5.306l2-.666V8.5a.5.5 0 0 1 .128-.334L13.5 3.308V2h-11z"/>
            </svg>
            Primjeni filtere
        </button>
    </div>
</form>
