<nav class="navbar navbar-dark bg-dark">
    <div class="container-fluid">
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarToggleExternalContent" aria-controls="navbarToggleExternalContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</nav>
<div class="collapse" id="navbarToggleExternalContent">
    <div class="bg-dark p-4">
        <h5 class="text-white h4">Collapsed content</h5>
        <span class="text-muted">Toggleable via the navbar brand.</span>
    </div>
</div>

<div class="container mb-3 px-0">
    <div class="row" style="margin: -0.25rem;">
        {% for proizvod in proizvodi %}
        <div class="col-6 p-1">
            <div class="card p-2">
                <div class="position-relative">
                    <div class="ratio ratio-1x1 mb-2">
                        <div>
                            <img src="{{ proizvod[4] }}" alt="..." style="object-fit: contain;" class="w-100 h-100">
                        </div>
                    </div>
                    <h3 class="h6">
                        <a href="/proizvod/{{ proizvod[0] }}-{{ proizvod[1]|slugify }}" class="stretched-link text-decoration-none text-dark overflow-hidden"
                            style="display: -webkit-box; -webkit-line-clamp: 2; -webkit-box-orient: vertical;">
                            {{ proizvod[1] }}
                        </a>
                    </h3>
                    <h4 class="h6 overflow-hidden mb-0">
                        <span class="d-block text-decoration-line-through" style="font-size: 0.75rem;">{{ formatmoney(proizvod[2]) }}</span>
                        <span class="text-nowrap">
                            {{ formatmoney(proizvod[3]) }}
                            <span class="badge rounded-pill bg-danger">-{{ formatmoney(proizvod[2]-proizvod[3]) }}</span>
                        </span>
                    </h4>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
