<div class="card p-2">
    <div class="position-relative">
        <div class="ratio ratio-1x1 position-relative mb-2">
            <img src="{{ proizvod[4] }}" alt="slika proizvoda" style="object-fit: contain;" class="w-100 h-100">
            <div>
                <div class="position-absolute bottom-0 start-0">
                    <span class="badge rounded-pill bg-danger">UŠTEDI {{ formatmoney(proizvod[2]-proizvod[3]) }}</span>
                </div>
            </div>
        </div>
        <h3 class="h6">
            <a href="/proizvod/{{ proizvod[0] }}-{{ proizvod[1]|slugify }}" title="Više informacija" class="stretched-link text-decoration-none text-dark overflow-hidden"
                style="display: -webkit-box; -webkit-line-clamp: 2; -webkit-box-orient: vertical;">
                {{ proizvod[1]|safe }}
            </a>
        </h3>
        <h4 class="h6 mb-0">
            <span class="d-block text-decoration-line-through" style="font-size: 0.75rem;">{{ formatmoney(proizvod[2]) }}</span>
            <b>{{ formatmoney(proizvod[3]) }}</b>
        </h4>
    </div>
    {% if is_cart %}
    <div class="d-flex justify-content-between mt-2">
    <form action="/cart/kolicina" method="POST">
        <input type="hidden" name="sifra" value="{{ proizvod[0] }}">
        <div class="input-group" style="max-width: 6.5rem;">
            <button class="btn btn-outline-secondary btn-sm px-1" title="-1" type="button" onclick="form.querySelector('[name=kolicina]').value--; form.submit()">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="bi bi-dash" viewBox="0 0 16 16">
                    <path d="M4 8a.5.5 0 0 1 .5-.5h7a.5.5 0 0 1 0 1h-7A.5.5 0 0 1 4 8z"/>
                </svg>
            </button>
            <input type="number" name="kolicina" value="{{ cart[idx]['kolicina'] }}" class="form-control form-control-sm"
                aria-label="Količina" style="text-align: center;" onfocusout="form.submit()">
            <button class="btn btn-outline-secondary btn-sm px-1" title="+1" type="button" onclick="form.querySelector('[name=kolicina]').value++; form.submit()">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="bi bi-plus" viewBox="0 0 16 16">
                    <path d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z"/>
                </svg>
            </button>
        </div>
    </form>
    <form action="/cart/delete" method="POST">
        <input type="hidden" name="sifra" value="{{ proizvod[0] }}">
        <button type="submit" title="Ukloni proizvod iz košarice" class="btn btn-outline-danger btn-sm px-1">
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="bi bi-trash" viewBox="0 0 16 16">
                <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z"/>
                <path fill-rule="evenodd" d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4L4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z"/>
            </svg>
        </button>
    </form>
    </div>
    {% endif %}
</div>
