<script>
    fetch('/cart/pricetable', {method: 'POST'}).then(res => res.text()).then(html => {
        document.getElementById('price_table').outerHTML = html
    })
</script>
{% if success %}
<div class="alert alert-success alert-dismissible fade show" role="alert">
    Promo kod je valjan, popust (-{{ formatmoney(iznos) }}) uračunat u cijenu
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>
{% else %}
<div class="alert alert-danger alert-dismissible fade show" role="alert">
    Promo kod nije valjan
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>
{% endif %}
