<div class="mx-auto position-relative" style="max-width: 700px;">
<form action="/search" method="GET" title="Pretraži više od 1000 proizvoda" class="input-group" style="z-index: 1111" onsubmit='
const input = this.querySelector("[name=q]")
const select = this.querySelector("[data-select=ctg]")
if (select.value && !input.value) {
	event.preventDefault()
	window.location = select.options[select.selectedIndex].dataset.url
}
if (!input.value) input.value = input.dataset.placeholder'>
    <input type="text" name="q" class="form-control {% if lg %}form-control-lg{% endif %}"
        aria-label="Pretraži proizvode" id="searchbox{% if lg %}-lg{% endif %}"
        autocomplete="off" hx-get="/search_autocomplete" hx-trigger="keyup delay:500ms changed"
        hx-target="#search-results{% if lg %}-lg{% endif %}">
    <select name="g[]" title="Odaberi kategoriju pretraživanja" data-select="ctg" autocomplete="off" class="form-select" {% if lg %}style="max-width: 8.5rem;"{% else %}style="max-width: 12rem;"{% endif %}>
        <option value="" selected>SVE KATEGORIJE</option>
        {% for grupa in grupe %}
        <option value="{{ grupa[0] }}" data-url="/kategorija/{{ grupa[0] }}-{{ grupa[1]|slugify }}">{{ grupa[1] }}</option>
        {% endfor %}
    </select>
    <button class="btn btn-primary {% if lg %}btn-lg{% endif %}" type="submit">
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-search" viewBox="0 0 16 16">
            <path fill-rule="evenodd" d="M10.442 10.442a1 1 0 0 1 1.415 0l3.85 3.85a1 1 0 0 1-1.414 1.415l-3.85-3.85a1 1 0 0 1 0-1.415z" />
            <path fill-rule="evenodd" d="M6.5 12a5.5 5.5 0 1 0 0-11 5.5 5.5 0 0 0 0 11zM13 6.5a6.5 6.5 0 1 1-13 0 6.5 6.5 0 0 1 13 0z" />
        </svg>
        <span class="d-none d-lg-inline">Pretraži</span>
    </button>
</form>
<div class="position-absolute w-100" id="search-results{% if lg %}-lg{% endif %}"></div>
</div>
