{% extends 'emails/base.html' %}
{% block title %}[amadeus2.hr] Narudžba ({{ order_id }}){% endblock %}
{% block content %}

<h1>Narudžba ({{ order_id }})</h1>
<table style="width: 100%; text-align: left;">
    <tr>
        <th>Proizvod</th>
        <th>Cijena</th>
        <th>Količina</th>
    </tr>
    {% for proizvod in cart_products %}
    <tr>
        <td><a href="https://amadeus2.hr/proizvod/{{ proizvod[0] }}-{{ proizvod[1]|slugify }}">{{ proizvod[1] }}</a></td>
        <td><del>{{ formatmoney(proizvod[2]) }}</del><br><b>{{ formatmoney(proizvod[3]) }}</b></td>
        <td>{{ cart[loop.index-1]['kolicina'] }}</td>
    </tr>
    {% endfor %}
</table>

<table>
    <tr>
        <td>Proizvodi:</td>
        <td>{{ formatmoney(cijene.proizvodi) }}</td>
    </tr>
    <tr>
        <td>PDV:</td>
        <td>{{ formatmoney(cijene.pdv) }}</td>
    </tr>
    {% if cijene['rate-2-12'] %}
    <tr>
        <td>Rate (2-12):</td>
        <td>{{ formatmoney(cijene['rate-2-12']) }}</td>
    </tr>
    {% endif %}
    {% if cijene['rate-13-24'] %}
    <tr>
        <td>Rate (13-24):</td>
        <td>{{ formatmoney(cijene['rate-13-24']) }}</td>
    </tr>
    {% endif %}
    <tr>
        <td>Dostava:</td>
        <td>{{ formatmoney(0) }}</td>
    </tr>
    <tr>
        <td><b>Ukupno:</b></td>
        <td><b>{{ formatmoney(cijene.sum) }}</b></td>
    </tr>
</table>

<h2 style="margin-top: 2rem">Podaci za plaćanje</h2>
<p>
    {{ checkout.get('p-ime') }} {{ checkout.get('p-prezime') }}<br>
    {{ checkout.get('p-ulica') }}<br>
    {{ checkout.get('p-postanskibroj') }} {{ checkout.get('p-mjesto') }}<br>
    {{ checkout.get('p-drzava') }}<br>
    {{ checkout.get('p-email') }}<br>
    {{ checkout.get('p-mobitel') }}
</p>

<h2 style="margin-top: 2rem">Podaci za dostavu</h2>
{% if checkout.get('d-notuse') %}
<p>
    {{ checkout.get('p-ime') }} {{ checkout.get('p-prezime') }}<br>
    {{ checkout.get('p-ulica') }}<br>
    {{ checkout.get('p-postanskibroj') }} {{ checkout.get('p-mjesto') }}<br>
    {{ checkout.get('p-drzava') }}<br>
    {{ checkout.get('p-email') }}<br>
    {{ checkout.get('p-mobitel') }}
</p>
{% else %}
<p>
    {{ checkout.get('d-ime') }} {{ checkout.get('d-prezime') }}<br>
    {{ checkout.get('d-ulica') }}<br>
    {{ checkout.get('d-postanskibroj') }} {{ checkout.get('d-mjesto') }}<br>
    {{ checkout.get('d-drzava') }}<br>
    {{ checkout.get('d-email') }}<br>
    {{ checkout.get('d-mobitel') }}
</p>
{% endif %}

{% if checkout.get('r-use') %}
<h2 style="margin-top: 2rem">Podaci za R1 račun</h2>
<p>
    {{ checkout.get('tvrtka') }}<br>
    {{ checkout.get('oib') }}
</p>
{% endif %}

{% if checkout.get('napomene') %}
<h2 style="margin-top: 2rem">Dodatne napomene</h2>
<p>{{ checkout.get('napomene') }}</p>
{% endif %}

<h2 style="margin-top: 2rem">Način plaćanja</h2>
<p>
    {{ 'Plaćanje uplatom po ponudi' if cijene.nacinplacanja == 'po-ponudi' }}
    {{ 'Plaćanje pouzećem' if cijene.nacinplacanja == 'pouzecem' }}
    {% if cijene.nacinplacanja == 'karticom' %}
    Plaćanje karticom<br>
    Kartica: {{ card }}<br>
    {% if brojrata > 1 %}
    Broj rata: {{ brojrata }}
    {% endif %}
    {% endif %}
</p>
{% endblock %}
