{% extends 'emails/base.html' %}
{% block title %}[amadeus2.hr] Obavijest o promjeni dostupnosti{% endblock %}
{% block content %}

<h1>Obavijest o promjeni dostupnosti</h1>
<table style="width: 100%; text-align: left;">
    <tr>
        <th>Proizvod</th>
        <th>Cijena</th>
        <th>Stara količina</th>
        <th>Nova količina</th>
    </tr>
    <tr>
        <td><a href="https://amadeus2.hr/proizvod/{{ tracker[6] }}-{{ tracker[4]|slugify }}">{{ tracker[4] }}</a></td>
        <td><del>{{ formatmoney(tracker[2]) }}</del><br><b>{{ formatmoney(tracker[3]) }}</b></td>
        <td>{{ tracker[1] }}</td>
        <td>{{ tracker[5] }}</td>
    </tr>
</table>

<a style="display: block; margin-top: 2rem; margin-bottom: 1rem;" target="_blank"
    href="http://localhost:5000/tracking?col=quantity&email={{ tracker[0] }}&current_quantity={{ tracker[5] }}&sifra_proizvoda={{ tracker[6] }}">
    Nastavi primati obavijesti za ovaj proizvod
</a>

{% endblock %}
