:root {
	--shadow: 5px 5px teal;
	--radius-sm: 3px 9px 3px 9px;
	--radius-md: 5px 15px 5px 15px;
	--radius-lg: 12px 40px 12px 40px;
	--plyr-color-main: teal;
}
* {
	box-sizing: border-box;
}
body {
	color: #fff;
	background-color: #000;
	font-family: 'Roboto', sans-serif;
	line-height: 1.5;
}
a {
	text-decoration: none;
	color: #fff;
}
a:hover {
	text-decoration: underline;
}
ul {
	list-style: none;
	padding: 0;
	margin: 0;
}
.btn {
	background-color: #000;
	color: #fff;
	padding: 8px 18px;
	border: 2px solid #fff;
	border-radius: var(--radius-md);
	transition: all 0.3s ease;
	box-shadow: var(--shadow);
	cursor: pointer;
}
.btn:hover {
	box-shadow: none;
}
.btn:focus {
	outline: none;
}
body:not(.using-mouse) .btn:focus {
	box-shadow: none;
}
.inp {
	background-color: #000;
	color: #fff;
	border: 2px solid #fff;
	border-radius: var(--radius-md);
	padding: 8px;
	transition: all 0.3s ease;
	box-shadow: var(--shadow);
}
.inp:hover {
	box-shadow: none
}
.inp:focus {
	box-shadow: none;
	outline: none;
}
.inp::placeholder {
	color: #aaa;
	opacity: 1;
}
